[2018-01-09 17:11] aswinzz opened #1 "Add yourself to the participants list"
Star this repo and everyother repo in opencode for the pull request to be merged :wink:
Go through the readme for guidlines

Staring is to ensure that you saw all the projects in opencode.

[2018-01-09 17:13] aswinzz opened #2 "change title,heading and footer to opencode"

[2018-01-09 17:16] aswinzz opened #3 "Create Pull Request Template"

[2018-01-09 17:47] AbhiTaker commented on #2
can i work on this issue?

[2018-01-09 18:29] Ace-Bansal commented on #2
I would like to work on this issue.

[2018-01-09 18:52] madhur1998 commented on #3
I would like to take up this issue.

[2018-01-09 18:57] goodday451999 opened #4 "Add logo"
![screenshot 200](https://user-images.githubusercontent.com/33095476/34737736-fc4ddb54-f59c-11e7-8753-1e24c29d9d34.png)

[2018-01-09 19:01] falconis commented on #4
Can I work on this?

[2018-01-09 19:02] goodday451999 opened #5 "In the TopBar add the icons of fb, twitter, instagram, github, youtube to link the page with those"

[2018-01-09 19:03] goodday451999 opened #6 "Add Search Bar"

[2018-01-09 19:04] goodday451999 opened #7 "The template of the page like this"
![screenshot 201](https://user-images.githubusercontent.com/33095476/34738093-fada0c9c-f59d-11e7-820a-d2a81d8dec2f.png)

[2018-01-09 19:10] swaager commented on #7
I would like to work on this issue

[2018-01-09 19:10] Anupam-dagar commented on #6
these issues will be created as we move further in the event.

[2018-01-09 19:10] #6 closed

[2018-01-09 19:10] Anupam-dagar commented on #5
to be opened later

[2018-01-09 19:10] #5 closed

[2018-01-09 19:11] Anupam-dagar commented on #7
@aswinzz suggestions?

[2018-01-09 19:15] aswinzz opened #8 "Add All the mentors"

[2018-01-09 19:20] aswinzz commented on #7
we cant change the template.use the current template!

[2018-01-09 19:23] falconis commented on #8
I would like to work on this.

[2018-01-09 19:27] #7 closed

[2018-01-09 19:27] Anupam-dagar commented on #8
@falconis sure

[2018-01-09 19:30] swaager commented on #2
I would like to work on this issue.

[2018-01-09 20:02] aswinzz commented on #4
we can't change our official logo

[2018-01-09 20:02] #4 closed

[2018-01-09 20:06] falconis commented on #8
So how do I get the details of the mentors? Especially their social media ids?

[2018-01-09 20:11] aswinzz commented on #8
update only the names and image.Take the mentors from projects page and the images from github account.

[2018-01-09 20:29] aswinzz commented on #2
@Ace-Bansal you can work on it

[2018-01-09 20:29] falconis commented on #8
Alright.

[2018-01-09 20:35] aswinzz commented on #3
yeah @madhur1998  you can work on this

[2018-01-10 02:49] aadixiiita commented on #1
I would like to work on this .

[2018-01-10 06:47] mubaris opened #23 "Generate Github Resume"
Opt-In for Github Resume service by staring the following project - [Repo](https://github.com/resume/resume.github.com)

After generating the resume, share your resume link to get points

Visit the project repo to read resume generating instructions

[2018-01-10 07:45] Tlazypanda commented on #23
I would be interested to take this up.

[2018-01-10 07:46] mubaris commented on #23
Everyone is encouraged to do this.

[2018-01-10 08:02] madhur1998 commented on #23
Do we have to comment the link here?

[2018-01-10 08:05] aswinzz commented on #23
yes

[2018-01-10 08:06] madhur1998 commented on #23
https://resume.github.io/?madhur1998

[2018-01-10 08:07] #3 closed

[2018-01-10 08:08] #2 closed

[2018-01-10 08:12] falconis commented on #23
[My Resume](https://resume.github.io/?falconis)

[2018-01-10 08:12] Tlazypanda commented on #23
http://resume.github.io/?Tlazypanda

[2018-01-10 08:13] aswinzz opened #24 "Make the mentor and participant cards flip when clicked"
as of now the card is flipping on hover make it flip when clicked

[2018-01-10 08:16] aswanthkoleri opened #25 "Add favicon for the website"

[2018-01-10 08:17] madhur1998 commented on #24
I would like to work on this issue

[2018-01-10 08:18] aswanthkoleri opened #26 "Change the background of the landing page."
Make the background of the landing page to the Linear gradient backgorund used in the OpenCode Mian page : [Main page](https://opencode18.github.io/)

[2018-01-10 08:18] atisayajain commented on #23
[My Github Resume](http://resume.github.io/?atisayajain)

[2018-01-10 08:20] Tlazypanda commented on #26
I would be interested to take this up.

[2018-01-10 08:21] aswinzz opened #27 "Make the background of the flipcard same as that of the background of website"
the background color when the card is flipping is different from that of the background color of the template.

[2018-01-10 08:22] aswanthkoleri opened #28 "Give hover effect to social Icons on the flip cards."
When hovered over the icons, the color of the icon should change to Light blue color.

[2018-01-10 08:22] aswanthkoleri commented on #26
@Tlazypanda  You may do this !

[2018-01-10 08:27] aswanthkoleri opened #29 "Add FOSSIIITA,IIITA and GeekHaven logo."
Add the following logos on the right side of the footer.Similar,to that seen in the Main page : [OpenCode](https://opencode18.github.io)

[2018-01-10 08:27] falconis commented on #28
Can I work on this?

[2018-01-10 08:28] aswinzz opened #30 "Add social links of opencode in the footer"
add facebook,email,github icons to the footer.
Right side is preferable.

[2018-01-10 08:29] mubaris commented on #28
Go ahead @falconis

[2018-01-10 08:29] aadixiiita commented on #30
I would like to work on this issue

[2018-01-10 08:29] aswinzz opened #31 "Share solved issues in social medias which have "social" label"
share the issues which you have solved and that have "social" label on it
  give a link and screenshot in the comments.

[2018-01-10 08:30] mubaris commented on #30
@aadixiiita You can take this

[2018-01-10 08:30] aadixiiita commented on #29
I would like to work on this issue

[2018-01-10 08:30] aswinzz commented on #29
@aadixiiita  solve the issues that you have been assigned

[2018-01-10 08:32] aswanthkoleri opened #32 "Add a simple Pre-Loader for the website."
Share it on social network and earn 10 points !
 Comment on issue #31 along witht the screenshot to get your marks verified. :smile:

[2018-01-10 08:40] arpitmisraw commented on #23
https://resume.github.io/?arpitmisraw

[2018-01-10 08:41] aswinzz commented on #8
@falconis  what is the status?

[2018-01-10 08:42] aswinzz commented on #24
sure

[2018-01-10 08:52] falconis commented on #8
I'll complete it by 6pm. Will it be ok?

[2018-01-10 09:10] strikertanmay commented on #28
can i also work on it..??

[2018-01-10 09:19] strikertanmay commented on #23
http://resume.github.io/?strikertanmay

[2018-01-10 09:25] Re42 commented on #23
[Yash Rathore](https://resume.github.io/?re42)

[2018-01-10 09:26] Panda2498 commented on #8
Are their any other mentors to be added other than the two that are already added?

[2018-01-10 09:29] Anupam-dagar commented on #8
@Panda2498 @falconis is currently working on this.You may work on other issue, comment on the one you want to work

[2018-01-10 09:49] aayushjoglekar commented on #25
@aswanthkoleri I am interested in adding a favicon.

[2018-01-10 09:49] Tlazypanda commented on #29
Can I work on this?I have made a pull request for my previous issue.

[2018-01-10 10:16] aayushjoglekar commented on #27
I would like to resolve this issue.

[2018-01-10 10:16] mubaris commented on #29
@Tlazypanda Sure

[2018-01-10 10:27] falconis commented on #8
So I added the mentor details in the json file and the images in the mentor file. But there is no change in the website...

[2018-01-10 10:29] Panda2498 commented on #23
http://resume.github.io/?Panda2498

[2018-01-10 10:31] aayushjoglekar commented on #28
Can I contribute to this issue?

[2018-01-10 10:32] maverick0004 commented on #23
https://resume.github.io/?maverick0004

[2018-01-10 10:34] Panda2498 commented on #8
I wasn't able to upload the images, it wasn't giving me the permission to
do so, so for now I just mentioned the github image url of the mentors. I
will change them to images when I get the permission to do so.

On Jan 10, 2018 3:57 PM, "Vishal Pani" <notifications@github.com> wrote:

So I added the mentor details in the json file and the images in the mentor
file. But there is no change in the we

[2018-01-10 10:35] Panda2498 commented on #24
Can I work on this issue?

[2018-01-10 10:36] Panda2498 commented on #26
May I change the background?

[2018-01-10 10:38] Panda2498 commented on #27
May I resolve this issue.

[2018-01-10 10:46] Panda2498 commented on #8
Okay! I didn't know that we have to comment before resolving an issue.

[2018-01-10 10:51] aayushjoglekar commented on #29
Can I work on this issue?

[2018-01-10 11:08] Re42 commented on #32
I would like to work on this.

[2018-01-10 11:21] aayushjoglekar commented on #24
I am going to work on this issue.

[2018-01-10 11:34] marshallKR7 commented on #23
https://resume.github.io/?marshallKR7

[2018-01-10 11:36] GOVINDDIXIT commented on #23
https://resume.github.io/?GOVINDDIXIT

[2018-01-10 11:43] atisayajain commented on #32
I would like to work on this.

[2018-01-10 12:10] Divy123 commented on #27
I want to resolve this issue...
Divy Khare

[2018-01-10 12:20] jat9674 commented on #30
can i get chance to work on this issue?

[2018-01-10 12:29] RohanShekhawat commented on #23
http://resume.github.io/?RohanShekhawat

[2018-01-10 12:56] Eunoia1729 commented on #26
May I take up this issue ?

[2018-01-10 13:03] jat9674 commented on #23
https://resume.github.io/?jat9674

[2018-01-10 13:08] SSPrafulTondomker commented on #23
http://resume.github.io/?SSPrafulTondomker

[2018-01-10 13:19] prathamprakash29 commented on #23
[My GitHub Resume](https://resume.github.io/?prathamprakash29)

[2018-01-10 13:24] ananya-agrawal commented on #23
https://resume.github.io/?ananya-agrawal

[2018-01-10 13:53] aayushjoglekar commented on #23
http://resume.github.io/?aayushjoglekar

[2018-01-10 13:56] aswinzz opened #59 "Remove inline css"
make seperate file for the inline css present in index.html

[2018-01-10 13:57] prathamprakash29 commented on #29
I would like to work on this issue

[2018-01-10 13:57] aswinzz commented on #32
@Re42  you can work on this

[2018-01-10 13:57] madhur1998 commented on #59
I would like to take up this issue

[2018-01-10 13:58] aayushjoglekar commented on #59
I can contribute to this issue.

[2018-01-10 14:02] aayushjoglekar commented on #31
![image](https://user-images.githubusercontent.com/28949397/34776455-03b07500-f63d-11e7-9eb6-7588cdaed834.png)

[2018-01-10 14:05] Anupam-dagar opened #61 "increase mentors and participants grid size"
currently grid accomodates only 3 mentors and participants in one row, make it to accomodate 5 in a row.

[2018-01-10 14:06] aayushjoglekar commented on #61
I would like to take this up.

[2018-01-10 14:07] Anupam-dagar commented on #61
@aayushjoglekar go ahead

[2018-01-10 14:11] aswinzz commented on #59
@madhur1998  can work on this

[2018-01-10 14:12] #24 closed

[2018-01-10 14:13] #25 closed

[2018-01-10 14:14] #28 closed

[2018-01-10 14:23] #26 closed

[2018-01-10 14:48] AK-007 commented on #23
http://resume.github.io/?AK-007

[2018-01-10 14:59] ToughDude commented on #30
can i work on this issue?

[2018-01-10 15:03] AlphaCholera commented on #23
https://resume.github.io/?AlphaCholera

[2018-01-10 15:12] gauthamzz commented on #8
Close issues as they go.

[2018-01-10 15:15] gauthamzz opened #72 "Add contribution guidelines"
- comment before  solving issues.
- solve merge conflicts.
- follow proper code indentation.
And other standard norms

[2018-01-10 15:33] #8 closed

[2018-01-10 15:36] #59 closed

[2018-01-10 15:37] #30 closed

[2018-01-10 15:37] #27 closed

[2018-01-10 15:57] gauthamzz opened #78 "link for zulip chat in readme is wrong"
it should be https://opencode18.zulipchat.com

[2018-01-10 15:57] ananya-agrawal commented on #72
would like to solve this.

[2018-01-10 15:58] brain-sick commented on #72
i would like to work on this

[2018-01-10 15:58] brain-sick commented on #78
i would like to work on this

[2018-01-10 16:04] gauthamzz commented on #72
assigned to @ananya-agrawal , since she commented first.
also @brain-sick do only one issue at a time for now

[2018-01-10 16:05] gauthamzz commented on #78
assigened to @brain-sick

[2018-01-10 16:11] brain-sick commented on #23
https://resume.github.io/?brain-sick

[2018-01-10 16:18] strikertanmay commented on #61
i also would like to do it

[2018-01-10 17:12] utkarshsingh99 commented on #23
[About Me](https://resume.github.io/?utkarshsingh99)

[2018-01-10 17:16] gauthamzz opened #95 "broken image links"

[2018-01-10 17:17] druvalcr28 commented on #95
ill fix that

[2018-01-10 17:17] Ace-Bansal commented on #95
i would like to work on this issue.

[2018-01-10 17:17] Tlazypanda commented on #95
I would be interested

[2018-01-10 17:19] gauthamzz opened #97 "Add animation to the main landing part"
Add any kind of animation to the main landing page part.

Comment and suggest before solving,

[2018-01-10 17:19] gauthamzz commented on #95
@druvalcr28 gets it

[2018-01-10 17:22] Ace-Bansal commented on #97
I would like to work on this

[2018-01-10 17:23] gauthamzz commented on #97
assigned to  @Ace-Bansal

[2018-01-10 17:27] ToughDude commented on #32
i would like to work on it

[2018-01-10 17:42] #29 closed

[2018-01-10 17:43] guptaaman70659 commented on #1
it is good platform to convert effort in succsess

[2018-01-10 18:01] gauthamzz opened #101 "sort names alphabetically"
The names in json is increasing. When displayed show them alphabetically

[2018-01-10 18:01] aayushjoglekar commented on #101
I would do this

[2018-01-10 18:01] Tlazypanda commented on #101
I would be interested

[2018-01-10 18:02] gauthamzz commented on #101
assigned @aayushjoglekar

[2018-01-10 18:03] gauthamzz opened #102 "Add card for projects"
Add card in same way as persons name .
and a json should be created for projects.
take projects list.
Comment on issue #31 along witht the screenshot to get your marks verified. :smile:

[2018-01-10 18:03] aayushjoglekar commented on #102
I can do this

[2018-01-10 18:03] Tlazypanda commented on #102
i would be interested

[2018-01-10 18:04] gauthamzz commented on #102
only one issue per person at a time.
@Tlazypanda assigned to you

[2018-01-10 18:12] druvalcr28 commented on #23
http://resume.github.io/?druvalcr28

[2018-01-10 18:40] aadixiiita commented on #23
http://resume.github.io/?aadixiiita

[2018-01-10 18:41] shyam49 commented on #23
[Resume] (https://resume.github.io/?shyam49)

[2018-01-10 19:31] falconis commented on #31
Is this for everyone?

[2018-01-10 19:56] KomalBhadani27 commented on #23
https://resume.github.io/?KomalBhadani27

[2018-01-10 20:00] adiagg2000 commented on #23
https://resume.github.io/?adiagg2000

[2018-01-10 20:24] #95 closed

[2018-01-10 20:25] #72 closed

[2018-01-10 20:25] #61 closed

[2018-01-10 20:27] Esha23 commented on #23
https://resume.github.io/?Esha23

[2018-01-10 20:49] aswinzz opened #115 "Make the flipped card automatically reset after sometime"
when we click on the card it stays flipped until we click it again, so make it reset after say 3 to 4 sec.

[2018-01-10 20:50] falconis commented on #115
Can I take this?

[2018-01-10 20:54] atisayajain commented on #115
I would like to work on this.

[2018-01-10 20:56] aswinzz commented on #115
@falconis you have been assigned

[2018-01-10 22:26] swaager commented on #23
https://resume.github.io/?swaager

[2018-01-11 00:36] 16priyesh commented on #23
https://resume.github.io/?16priyesh

[2018-01-11 03:08] Ace-Bansal commented on #23
[My resume](https://resume.github.io/?Ace-Bansal)

[2018-01-11 05:20] hacker1x1x1 commented on #23
http://resume.github.io/?hacker1x1x1

[2018-01-11 06:44] rahulkumaran commented on #23
[My Résumé](http://resume.github.io/?rahulkumaran)

[2018-01-11 07:07] ProBeta1 commented on #23
https://resume.github.io/?ProBeta1

[2018-01-11 07:29] #101 closed

[2018-01-11 07:29] #97 closed

[2018-01-11 07:30] aswanthkoleri commented on #102
@Tlazypanda  whats the status ?

[2018-01-11 07:30] Anupam-dagar opened #121 "edit landing page"
take text and logo in landing page in one section with logo coming above text.

[2018-01-11 07:31] aayushjoglekar commented on #121
I will do this

[2018-01-11 07:31] Ace-Bansal commented on #121
I'll do it

[2018-01-11 07:32] aswinzz commented on #115
@falconis  updates?

[2018-01-11 07:32] Anupam-dagar opened #122 "fix footer"
all the elements in footer should be in one line, currently made with love line comes above and social icons and images below it.It should be in one line as there in opencode'18 website.

[2018-01-11 07:33] Anupam-dagar commented on #121
assigned to @aayushjoglekar

[2018-01-11 07:33] Ace-Bansal commented on #122
I'll do it

[2018-01-11 07:33] aswanthkoleri commented on #122
@Ace-Bansal  assigned to you

[2018-01-11 07:36] aswinzz commented on #78
@brain-sick please mention the issue number when you make the PR.
@brain-sick completed this issue!

[2018-01-11 07:36] #78 closed

[2018-01-11 08:01] #122 closed

[2018-01-11 08:01] aswinzz opened #126 "Remove bottom scrollbar"
there is scroll bar for moving left/right which is useless.
more precisely, there is some content which has extending width, fix that.
A PR with horizontal scroll disabled will not be merged.

[2018-01-11 08:02] Anupam-dagar opened #127 "fix mobile view for grid"
grid is not centered in mobile view.
![screenshot from 2018-01-11 13-31-53](https://user-images.githubusercontent.com/21174572/34814501-e078ab38-f6d3-11e7-8092-e0d79e270a21.png)
Comment on issue #31 along witht the screenshot to get your marks verified. :smile:

[2018-01-11 08:04] aswinzz commented on #31
@aayushjoglekar  you should share "only after you solve the issue with social label"!!

[2018-01-11 08:04] aswinzz commented on #31
@falconis yes

[2018-01-11 08:06] Ace-Bansal commented on #127
can i do it?

[2018-01-11 08:07] Anupam-dagar opened #128 "star this repository"
comment your screenshot here to get points rewarded.

[2018-01-11 08:08] aswinzz commented on #127
@Ace-Bansal  you are assigned!

[2018-01-11 08:09] dojutsu-user commented on #126
i will like to do it. please assign it to me

[2018-01-11 08:26] cuz789 commented on #23
http://resume.github.io/?cuz789

[2018-01-11 08:27] permanent-bnsl commented on #126
Can I do this please.?

[2018-01-11 08:29] aswinzz opened #131 "Have a section of issues for each project"
We would like to have a section for all open issues under opecode .
This issue requires usage of github api

[2018-01-11 08:31] GOVINDDIXIT commented on #131
i will do it

[2018-01-11 08:32] aswinzz commented on #131
@GOVINDDIXIT ou have been assigned

[2018-01-11 08:34] aswinzz commented on #126
@dojutsu-user is assigned

[2018-01-11 08:35] dojutsu-user commented on #126
@aswinzz done
i have referenced this issue under #130

[2018-01-11 08:37] permanent-bnsl commented on #23
[My Resume](https://resume.github.io/?permanent-bnsl)

[2018-01-11 08:38] Ace-Bansal commented on #128
![screenshot 18 _li](https://user-images.githubusercontent.com/34866483/34815816-ddc145a8-f6d8-11e7-85d1-20ec4f07017b.jpg)

[2018-01-11 08:42] permanent-bnsl commented on #128
![screenshot](https://user-images.githubusercontent.com/35285444/34815938-4ac0ba3a-f6d9-11e7-80ed-f03e801c10ea.png)

[2018-01-11 08:43] 16priyesh commented on #128
![16priyesh](https://user-images.githubusercontent.com/28901008/34816040-9c925daa-f6d9-11e7-8706-3bdd5fba5f5c.png)

[2018-01-11 08:50] falconis commented on #115
I'll complete today after my lab. @aswinzz

[2018-01-11 08:51] RudRA-8 commented on #128
![image](https://user-images.githubusercontent.com/33032175/34816382-c18016ba-f6da-11e7-93a4-6a6ee1b54318.png)

[2018-01-11 08:52] RudRA-8 commented on #128
![image](https://user-images.githubusercontent.com/33032175/34816405-d42f5fbe-f6da-11e7-981c-9ae4562f05a9.png)

[2018-01-11 09:05] aadixiiita commented on #128
![screenshot_20180111-143408](https://user-images.githubusercontent.com/34688457/34816968-915745c4-f6dc-11e7-883a-bbfb71ad035f.png)

[2018-01-11 09:06] abhishhh1 commented on #128
![screenshot 2](https://user-images.githubusercontent.com/31480124/34817041-c51c1f06-f6dc-11e7-8ab5-a4d818a9980d.png)

[2018-01-11 09:09] amriteshbhaskar commented on #128
![screenshotgit](https://user-images.githubusercontent.com/34058250/34817185-3b3d24aa-f6dd-11e7-9462-1084c00ef1d0.png)

[2018-01-11 09:20] aswinzz opened #133 "Add a field for college in contestants.json and display it"
add field for college in contestants.json and display college name in the about section in the card.
update the steps in the readme too.

[2018-01-11 09:27] falconis commented on #133
Can I take this

[2018-01-11 09:28] #121 closed

[2018-01-11 09:28] aayushjoglekar commented on #133
I wanna do this.

[2018-01-11 09:33] aswinzz commented on #133
@falconis  complete the work you are assigned.
@aayushjoglekar  you can take up this issue

[2018-01-11 09:36] ProBeta1 commented on #128
![screenshot-2018-1-11 probeta1 abhinav kumar srivastava](https://user-images.githubusercontent.com/33081197/34818494-f093e570-f6e0-11e7-91f9-571a1be461fd.png)

[2018-01-11 10:12] anshumanv commented on #128
How do I know how much points I have?
![image](https://user-images.githubusercontent.com/21009455/34820259-0a2f4cc2-f6e6-11e7-9751-7487ff8c9898.png)

[2018-01-11 10:13] dojutsu-user commented on #128
![capture](https://user-images.githubusercontent.com/29149191/34820330-2e83e088-f6e6-11e7-85f1-f4ffe9c02ed9.PNG)

[2018-01-11 10:14] anshumanv commented on #131
Can multiple people collaborate on an issue or only one can do it once it is assigned? Also is there a time span within which it is to be completed? @aswinzz

[2018-01-11 10:18] anshumanv commented on #1
Completed in #135

[2018-01-11 10:30] gauthamzz opened #136 "Suggest new issues"
Suggest ideas for improvement of the site at comments, when suggesting be breif.
After that we will make issues , if we find it good. For each issue we make you get 20 points.
Issues will be made by the mentors and anyone can take up those issues
we will be deleting the comments which are not good!

[2018-01-11 10:32] aswinzz commented on #131
Only one person can work on an issue and if there is no response from the assignee we will float the issue to others

[2018-01-11 10:37] anshumanv opened #137 "Irrelevant horizontal scroll bar"
I'm willing to fix this, can this be considered a task?

![image](https://user-images.githubusercontent.com/21009455/34821366-78a6de10-f6e9-11e7-8d6e-d7f1c85a6002.png)

[2018-01-11 10:40] anshumanv commented on #136
Adding a `back to top` floating button on bottom-right could be nice to get back to the top.

[2018-01-11 10:42] pradeepgangwar commented on #137
@anshumanv yeah do it.

[2018-01-11 10:42] anshumanv commented on #136
Presently about section is plain text, it can be greatly improved with a proper bg and logo.

[2018-01-11 10:52] Anupam-dagar opened #138 "like opencode fb page"
https://www.facebook.com/opencodeiiita/
Comment you screenshots

[2018-01-11 10:52] aswinzz commented on #137
@anshumanv  if you find any issues comment it in the issue #136  and get it approved before making a new one.
btw this issue was made a day back and solved by @dojutsu-user before but it came back so it will be assigned to him itself.

[2018-01-11 10:52] #137 closed

[2018-01-11 10:53] aswinzz commented on #126
Fix it once more @dojutsu-user

[2018-01-11 10:55] anshumanv commented on #137
@aswinzz Aight, cool. :+1:

[2018-01-11 10:56] anshumanv commented on #138
Done, how do I know how many points I've racked up?

![image](https://user-images.githubusercontent.com/21009455/34822219-2436b6e0-f6ec-11e7-8ce7-84d1b6434f2b.png)

[2018-01-11 10:58] Anupam-dagar commented on #138
hi @anshumanv
leaderboard will be added after somedays, all the pull request merged are the proof for your points.

[2018-01-11 11:16] surasnayak commented on #138
Done
![untitled](https://user-images.githubusercontent.com/21239888/34823025-f3d06d90-f6ee-11e7-88a1-efd04e4a8ac3.png)

[2018-01-11 11:19] dojutsu-user commented on #138
![capture](https://user-images.githubusercontent.com/29149191/34823129-53fe5420-f6ef-11e7-9397-244723fa00f6.PNG)

[2018-01-11 11:21] surasnayak commented on #128
Done!
![untitled2](https://user-images.githubusercontent.com/21239888/34823239-b185fd50-f6ef-11e7-944a-9dffeafeca01.png)

[2018-01-11 11:48] helios1101 commented on #138
![Uploading Capture5.JPG…]()

[2018-01-11 11:49] helios1101 commented on #138
![capture5](https://user-images.githubusercontent.com/26597930/34824211-920ff67a-f6f3-11e7-81d7-9147f309f39c.JPG)

[2018-01-11 12:02] SachinkumarIIITA commented on #138
![capture](https://user-images.githubusercontent.com/30855690/34824626-521c857c-f6f5-11e7-90b1-6450d416eac8.JPG)

[2018-01-11 12:06] helios1101 commented on #128
![capture7](https://user-images.githubusercontent.com/26597930/34824566-03c17428-f6f5-11e7-9a34-8b2934389df5.JPG)

[2018-01-11 12:09] sud0lancer commented on #138
![image](https://user-images.githubusercontent.com/26188360/34824888-57d04a16-f6f6-11e7-9228-8ffe56145eb1.png)

[2018-01-11 12:45] prathamprakash29 commented on #138
![image](https://user-images.githubusercontent.com/30841366/34826136-6ad8a464-f6fb-11e7-862f-1100801e7da7.png)

[2018-01-11 12:48] prathamprakash29 commented on #128
![image](https://user-images.githubusercontent.com/30841366/34826243-d3600608-f6fb-11e7-9844-21c8bc8ab8f5.png)

[2018-01-11 12:50] Tlazypanda commented on #138
![screenshot_2018-01-11-18-15-51](https://user-images.githubusercontent.com/33183263/34826294-05658ab0-f6fc-11e7-9262-f283736f9cea.png)

[2018-01-11 12:51] hacker1x1x1 commented on #138
![image](https://user-images.githubusercontent.com/34509429/34826349-0c7f4adc-f68b-11e7-8ef6-ffd97d24038e.png)

[2018-01-11 12:56] hacker1x1x1 commented on #136
we can add a custom scrollbar having scrollbar track of white background(same as that of the webpage) and the color of the bar can be the same as background color of frontpage!

[2018-01-11 12:58] Tlazypanda commented on #128
![screenshot_2018-01-11-18-27-57](https://user-images.githubusercontent.com/33183263/34826600-3e0a1fa6-f6fd-11e7-8ba1-dc7ddfe26b1d.png)

[2018-01-11 13:02] hacker1x1x1 commented on #136
Also, the footer can have a light shadow background! just to look better

[2018-01-11 13:28] Anjali2901 commented on #128
![screenshot 43](https://user-images.githubusercontent.com/25278194/34827812-6a24d8b6-f701-11e7-89ef-99e4764e8992.png)

[2018-01-11 13:32] Anjali2901 commented on #138
![screenshot 45](https://user-images.githubusercontent.com/25278194/34827961-e291045a-f701-11e7-8f83-97d55d40f3be.png)

[2018-01-11 13:40] AK-007 commented on #138
![screenshot 52](https://user-images.githubusercontent.com/26346816/34828266-027af2ca-f703-11e7-87d4-b41abb334b45.png)

[2018-01-11 13:42] GOVINDDIXIT commented on #138
![capture](https://user-images.githubusercontent.com/32304546/34828332-3f7a3064-f703-11e7-8596-d6ed4f539128.PNG)

[2018-01-11 13:45] aayushjoglekar commented on #133
I am making up the college key in json which the contestants will have to fill. Okay?

[2018-01-11 13:49] surasnayak commented on #23
Link to my resume: https://resume.github.io/?surasnayak

[2018-01-11 13:51] Re42 commented on #138
![image](https://user-images.githubusercontent.com/33805964/34828765-939c6968-f704-11e7-9b92-f9525b9484df.png)

[2018-01-11 13:56] ashraysinha6069 commented on #138
![screenshot - 1_11_2018 7_25_26 pm](https://user-images.githubusercontent.com/34709632/34829004-573a91e2-f705-11e7-988d-ea88d7750a67.png)

[2018-01-11 13:58] Re42 commented on #128
![image](https://user-images.githubusercontent.com/33805964/34829016-6004b33e-f705-11e7-989e-79db94180931.png)

[2018-01-11 14:00] abhishhh1 commented on #138
![screenshot 3](https://user-images.githubusercontent.com/31480124/34829116-aa375cf4-f705-11e7-841b-ae2a7e51f641.png)
I liked the page and given 5 stars in ratings too.

[2018-01-11 14:01] ashraysinha6069 commented on #128
![screenshot - 1_11_2018 7_29_04 pm](https://user-images.githubusercontent.com/34709632/34829242-0eab7008-f706-11e7-93ea-1e118fd0ac31.png)

[2018-01-11 14:08] namantw commented on #138
![image](https://user-images.githubusercontent.com/31323328/34829502-ea9292b8-f706-11e7-9872-243c2854d7ce.png)

[2018-01-11 14:10] namantw commented on #128
![image](https://user-images.githubusercontent.com/31323328/34829590-36f28852-f707-11e7-9a3d-fc2b704af3a2.png)

[2018-01-11 14:10] AK-007 commented on #136
We can add a Leaderboard for tracking points for OpenCode'18.

[2018-01-11 14:10] falconis commented on #136
A night mode would be good.

[2018-01-11 14:26] namantw commented on #23
http://resume.github.io/?namantw

[2018-01-11 14:30] Ace-Bansal commented on #138
![screenshot 20](https://user-images.githubusercontent.com/34866483/34830462-eaa029c0-f709-11e7-88b9-b11be2d9cf60.png)

[2018-01-11 14:33] swaager commented on #138
![openc](https://user-images.githubusercontent.com/29673845/34830605-6a6c7a5a-f70a-11e7-8db7-3eb64cf2bbe9.png)

[2018-01-11 14:35] Anubhav2000 commented on #138
![capture](https://user-images.githubusercontent.com/33462670/34830714-bdf2dfca-f70a-11e7-8378-08fe9f738c28.PNG)
Done!!

[2018-01-11 14:37] aadixiiita commented on #136
We can add links to Opencode'18 , Opennews , Medium.com opencode blogs sites ...

[2018-01-11 14:46] Panda2498 commented on #138
![opencode](https://user-images.githubusercontent.com/34282889/34831233-5b05487e-f70c-11e7-8013-c5e1d29bbd68.jpg)

[2018-01-11 14:50] Esha23 commented on #138
![screenshot-2018-1-11 opencode - home](https://user-images.githubusercontent.com/35305010/34831375-cb1768d6-f70c-11e7-8bb5-5c2f25b926e1.png)

[2018-01-11 14:55] Esha23 commented on #128
![screenshot-2018-1-11 esha23](https://user-images.githubusercontent.com/35305010/34831655-8998b76a-f70d-11e7-8a5a-866db6583268.png)

[2018-01-11 14:56] aayushjoglekar commented on #138
![image](https://user-images.githubusercontent.com/28949397/34831703-b12b50a8-f70d-11e7-98d6-f6cdbde5d3a2.png)

[2018-01-11 14:57] aswinzz opened #155 "add referral option in contestants.json"

[2018-01-11 14:57] druvalcr28 commented on #155
ill work on this

[2018-01-11 15:01] ashraysinha6069 commented on #32
i would like to work on it

[2018-01-11 15:02] NeroIS commented on #128
![screenshot 2](https://user-images.githubusercontent.com/31174719/34831943-7dc7baa2-f70e-11e7-89b4-0b5dc565b890.png)

[2018-01-11 15:04] Esha23 commented on #127
I want to resolve the issue. Can I?

[2018-01-11 15:04] aswinzz commented on #155
you can work on it

[2018-01-11 15:04] DEVILCODER-SB99 commented on #138
![screenshot 1](https://user-images.githubusercontent.com/33373098/34832068-d8fe3ba8-f70e-11e7-9c6a-a25e34e180ad.png)

[2018-01-11 15:06] DEVILCODER-SB99 commented on #128
![screenshot 2](https://user-images.githubusercontent.com/33373098/34832172-24a0139c-f70f-11e7-85b7-bd61b50bd9be.png)

[2018-01-11 15:10] muskan6769 commented on #138
![screenshot from 2018-01-11 20-39-13](https://user-images.githubusercontent.com/34505804/34832314-92212bc2-f70f-11e7-8de5-c5731eca376b.png)

[2018-01-11 15:10] aswinzz commented on #136
@aadixiiita  that issue is already there.
@AK-007  we will be adding it in coming days.
@hacker1x1x1 changing the footer background cant be awarded any marks , if you are interested you can do that.

[2018-01-11 15:12] aswinzz opened #158 "Add custom scroll bar"
add a custom scrollbar overriding the standard scroll bar

Issue suggestions by - @hacker1x1x1

[2018-01-11 15:14] aadixiiita commented on #158
I would like to work on it ..

[2018-01-11 15:15] aswinzz commented on #158
yeah

[2018-01-11 15:36] hacker1x1x1 commented on #158
Adii has some other issue
Let me work on this

[2018-01-11 15:38] aayushjoglekar commented on #158
I would like to work on this

[2018-01-11 15:46] falconis commented on #115
Do I need to use javascript for this?

[2018-01-11 15:48] Panda2498 commented on #136
Add a tab of Opencode news or new added projects on the right side of mentors and participants tabs

[2018-01-11 15:48] arpitmisraw commented on #138
![screenshot_2018-01-11-21-16-10-256_com facebook katana](https://user-images.githubusercontent.com/32339738/34833226-f10b4082-f714-11e7-9548-f1c48ff3ae06.png)

[2018-01-11 15:49] KomalBhadani27 commented on #138
![screenshot 50](https://user-images.githubusercontent.com/33183901/34833259-0777ece4-f715-11e7-9b5a-17cc10f35bc8.png)

[2018-01-11 15:49] gauthamzz commented on #136
@Panda2498 that will be done once the cards are made for them.

[2018-01-11 15:50] Anubhav2000 commented on #136
A timer for displaying the time left for the event to end can be displayed at the top left corner of the page!

[2018-01-11 15:52] gauthamzz opened #160 "Add timer for coutdown till the event is over."
Be minimal

[2018-01-11 15:55] hacker1x1x1 commented on #160
i would like tyo work on this

[2018-01-11 15:55] Panda2498 commented on #160
May I work on this?

[2018-01-11 15:55] AK-007 commented on #160
I would like to work on this

[2018-01-11 15:56] gauthamzz commented on #160
assigned to @hacker1x1x1

[2018-01-11 15:57] Panda2498 commented on #128
![star collaborate](https://user-images.githubusercontent.com/34282889/34833793-43ae77c2-f716-11e7-9aa0-2d87f5d4c4c9.PNG)

[2018-01-11 15:58] masterchef2209 commented on #128
![1](https://user-images.githubusercontent.com/27916352/34833833-63497104-f716-11e7-887d-dc9a029cdb5e.jpg)

[2018-01-11 15:59] gauthamzz opened #162 "Add facebook page like button"

[2018-01-11 16:00] gauthamzz opened #163 "Add watch trailer on nav bar and pop up for youtube video"

[2018-01-11 16:00] #133 closed

[2018-01-11 16:01] gauthamzz opened #164 "Show issues in Opencode"
make something similar to https://fossiiita.github.io/opencode2017/projects.html#issues

[2018-01-11 16:01] arpitmisraw commented on #163
I would like to work on this.

[2018-01-11 16:02] gauthamzz commented on #163
assigned to you @arpitmisraw

[2018-01-11 16:02] aayushjoglekar commented on #163
I would like to work on this.

[2018-01-11 16:02] hacker1x1x1 commented on #162
i would like to do this

[2018-01-11 16:02] aayushjoglekar commented on #164
Love to do it.

[2018-01-11 16:03] hacker1x1x1 commented on #162
will complete in just 30 min.

[2018-01-11 16:03] gauthamzz commented on #164
assigned to @aayushjoglekar

[2018-01-11 16:03] gauthamzz commented on #162
sorry only one issue per person

[2018-01-11 16:03] hacker1x1x1 commented on #162
fine

[2018-01-11 16:05] abhishhh1 commented on #162
I want to do this

[2018-01-11 16:06] gauthamzz opened #166 "Auto rotate cards back"
Auto rotate cards after clicking after a certain period of time

[2018-01-11 16:06] gauthamzz commented on #162
assigned to @abhishhh1

[2018-01-11 16:08] gauthamzz opened #167 "Add projects link on navbar"
Only for first timers.
Link to the projects in the website

[2018-01-11 16:09] abhishhh1 commented on #23
https://resume.github.io/?abhishhh1

[2018-01-11 16:10] abhishhh1 commented on #167
I want to do this

[2018-01-11 16:15] aadixiiita commented on #166
I would like to do it. ...

[2018-01-11 16:19] AK-007 commented on #166
Can I work on this?

[2018-01-11 16:27] falconis commented on #166
I have been already assigned a similar issue (#115)

[2018-01-11 16:29] Divy123 commented on #128
![screenshot from 2018-01-11 21-57-38](https://user-images.githubusercontent.com/31225007/34835324-7eade142-f71a-11e7-8422-9e48caa3783c.png)

[2018-01-11 16:29] abhishhh1 commented on #127
May I work on this issue?

[2018-01-11 16:30] gauthamzz commented on #166
Sorry my mistake

[2018-01-11 16:30] #166 closed

[2018-01-11 16:31] Divy123 commented on #167
Can I do this?

[2018-01-11 16:35] ananya-agrawal commented on #138
![op](https://user-images.githubusercontent.com/33188930/34835682-89f4b642-f71b-11e7-9a90-c924184c685e.png)

[2018-01-11 16:37] techac commented on #167
Can i do this>

[2018-01-11 16:40] gauthamzz commented on #167
assinged to @Divy123
@abhishhh1 one issue at a time

[2018-01-11 16:41] strikertanmay commented on #138
![screenshot from 2018-01-11 22-07-27](https://user-images.githubusercontent.com/32292953/34835928-59229bbe-f71c-11e7-8fe4-42debe811207.png)

[2018-01-11 16:44] techac commented on #158
I would like to work on this

[2018-01-11 16:46] strikertanmay commented on #128
![screenshot from 2018-01-11 22-02-26](https://user-images.githubusercontent.com/32292953/34836171-0cda7d48-f71d-11e7-8375-5bec2e0e4874.png)

[2018-01-11 16:59] gauthamzz opened #173 "Fix broken link in mentors"

[2018-01-11 17:00] gauthamzz opened #174 "Add cards for participant projects"
Add cards similar for participant projects

[2018-01-11 17:01] gauthamzz opened #175 "Make simple JavaScript game"
Make a JavaScript game and put links in https://github.com/opencode18/OpenCode-Collaborative/blob/master/json/game.json and send pr.  (Updated Issue)
Both github repo link and gh pages link needed.
The games should be made after opencode started or we wont count it. Your old repo's as well.

[2018-01-11 17:03] gauthamzz opened #176 "Show number of stars and forks"

[2018-01-11 17:06] aayushjoglekar commented on #164
How will the issues be updated regularly?

[2018-01-11 17:07] gauthamzz commented on #164
github will do that. you just need to fetch from the api. see the link i send. see its code to get more ideas

[2018-01-11 17:20] AK-007 commented on #176
I would like to work on this.

[2018-01-11 17:23] aadixiiita commented on #174
Can i work on this ??

[2018-01-11 17:23] amriteshbhaskar commented on #175
I would like to work on this

[2018-01-11 17:26] gauthamzz commented on #176
assigned to @AK-007

[2018-01-11 17:26] gauthamzz commented on #174
assigned t @aadixiiita

[2018-01-11 17:27] gauthamzz commented on #175
eveyone can work on this, no need to comment. Just post the link when done

[2018-01-11 17:28] amriteshbhaskar commented on #175
should we mention the game we are working on such that there is no overlap

[2018-01-11 17:30] amriteshbhaskar commented on #173
i would like to work on this

[2018-01-11 17:30] gauthamzz commented on #175
its fine. Just make sure you make it yourself. You can overlap. The best one gets extra points at the end.

[2018-01-11 17:31] gauthamzz commented on #173
assigned to @amriteshbhaskar

[2018-01-11 17:33] arpitmisraw commented on #128
![screenshot from 2018-01-11 23-01-41](https://user-images.githubusercontent.com/32339738/34838283-8aaca402-f723-11e7-87ca-2744f0ad953d.png)

[2018-01-11 17:40] AK-007 commented on #175
Can I add a single player Tic-Tac-Toe game?

[2018-01-11 18:02] swaager commented on #175
https://github.com/swaager/Dodger_game

[2018-01-11 18:14] Anubhav2000 commented on #128
![capture](https://user-images.githubusercontent.com/33462670/34839937-61c2568a-f729-11e7-86ca-2d73e183133a.PNG)

[2018-01-11 18:15] swaager commented on #175
https://github.com/swaager/Dodger_game
![game](https://user-images.githubusercontent.com/29673845/34839960-72ff67b2-f729-11e7-8f25-214ac73f5b2d.png)

[2018-01-11 18:24] gauthamzz commented on #176
/claim

[2018-01-11 18:26] mubaris opened #181 "Setup Oh My Zsh on your system"
Set up [this project](https://github.com/robbyrussell/oh-my-zsh) on your system and post screenshot of terminal

[2018-01-11 18:29] gauthamzz commented on #175
send gh pages link only

[2018-01-11 18:33] arpitmisraw commented on #175
I'd like to work on 2048.

[2018-01-11 18:36] AK-007 commented on #176
Should I show the stars and forks for this repository using Github API ? Also where do you want it to be displayed ?

[2018-01-11 18:37] aayushjoglekar commented on #136
Reduce the width of custom scrollbar added.
Make scrollbar background transparent and add gradient to scrollbar.

[2018-01-11 18:40] AK-007 commented on #175
Link to play Single player Tic-Tac-Toe : https://ak-007.github.io/Tic-Tac-Toe/

[2018-01-11 19:13] adiagg2000 commented on #138
![screenshot 33](https://user-images.githubusercontent.com/33027339/34842460-8fdb619e-f731-11e7-9fee-6da69485891c.png)

[2018-01-11 19:15] adiagg2000 commented on #128
![screenshot 34](https://user-images.githubusercontent.com/33027339/34842539-d259f882-f731-11e7-98fa-ad7e71fc7985.png)

[2018-01-11 19:19] SnigdhaDobhal commented on #138
![2018-01-11](https://user-images.githubusercontent.com/35201631/34839598-22790222-f728-11e7-9228-63931193c3a8.png)

[2018-01-11 19:51] aswanthkoleri opened #188 "Add background to the Footer"
Add a suitable background to the footer such that it looks separated from the other section of the webpage .

[2018-01-11 19:53] aswanthkoleri commented on #176
@AK-007  Refer this [link](https://buttons.github.io/)

[2018-01-11 19:54] aayushjoglekar commented on #128
![image](https://user-images.githubusercontent.com/28949397/34844392-579e9430-f737-11e7-9353-10d10ee4da89.png)

[2018-01-11 19:57] arpitmisraw commented on #163
@gauthamzz  I can't seem to find the link for the youtube video. Can you help me out?

[2018-01-11 19:58] GOVINDDIXIT commented on #188
I will do it

[2018-01-11 20:00] gauthamzz commented on #163
https://www.youtube.com/watch?v=qjVYRDQAl2Q

[2018-01-11 20:01] aswinzz commented on #176
@AK-007  place it in the upper right corner. yeah you cna use github api.

[2018-01-11 20:03] Esha23 commented on #188
Can I solve it?

[2018-01-11 20:03] Esha23 commented on #167
Can I do it?

[2018-01-11 20:06] aswanthkoleri commented on #188
@GOVINDDIXIT You are assigned 👍

[2018-01-11 20:37] Shivansh1805 commented on #167
can i do this

[2018-01-11 20:51] Divy123 commented on #167
Resolved issue #167

[2018-01-11 20:57] Divy123 commented on #136
Schedule of Event should be updated

[2018-01-11 21:00] gau1rav commented on #128
![starred2](https://user-images.githubusercontent.com/34263673/34847160-7218e258-f740-11e7-9fbd-7e0320c2bcda.png)

[2018-01-11 21:01] blaze17280 commented on #128
![blaze](https://user-images.githubusercontent.com/35065475/34847258-8f5436d6-f6cf-11e7-8ea6-28150a8c068b.png)

[2018-01-11 21:02] pradeepgangwar commented on #102
#187 related to this got merged.

[2018-01-11 21:03] cuz789 commented on #128
![2018-01-12](https://user-images.githubusercontent.com/35086901/34847288-d76ff358-f740-11e7-8346-c3bb364e9189.png)

[2018-01-11 21:09] gauthamzz opened #194 "Add projects link in navbar"

[2018-01-11 21:10] gauthamzz opened #195 "Sort projects alphabetically"
first project should be this repo. all others shoul dbe alphabetically sorted

[2018-01-11 21:14] OrionStar25 commented on #175
https://orionstar25.github.io/Whack-a-Mole-game/

[2018-01-11 21:15] gauthamzz commented on #175
@OrionStar25 you are not added in participants . looks good though

[2018-01-11 21:16] OrionStar25 commented on #175
@gauthamzz okay why am i not added in participants? :O

[2018-01-11 21:18] gauthamzz commented on #175
@OrionStar25 your name is not in https://opencode18.github.io/OpenCode-Collaborative/ participants list. send a pr and add yourself

[2018-01-11 21:23] prathamprakash29 commented on #195
i would like to solve this

[2018-01-11 21:24] gauthamzz commented on #195
assigned to @prathamprakash29

[2018-01-11 21:28] Jigar3 commented on #194
I would like to take this issue

[2018-01-11 21:30] gauthamzz opened #198 "Refer someone to join opencode"
You can refer upto 5 people per day. 10 points per each person whos added in this repo.

No need to comment here. we will take it at the end.
The person needs to add you as refferal.

[2018-01-11 21:31] Jigar3 commented on #175
Simple snake game
https://github.com/Jigar3/Old-School-Snake-Game

[2018-01-11 21:31] gauthamzz commented on #194
@Jigar3 cool

[2018-01-11 21:32] gauthamzz commented on #175
The games should be made after opencode started or we wont count it. Your old repo's as well.

[2018-01-11 21:44] cuz789 commented on #23
https://resume.github.io/?cuz789

[2018-01-11 21:54] cuz789 commented on #138
![2018-01-12 1](https://user-images.githubusercontent.com/35086901/34849162-7168e5a4-f747-11e7-93c6-d28531eabe2b.png)

[2018-01-11 21:59] swaager commented on #175
https://swaager.github.io/Dodger_game/dodger.html

[2018-01-11 22:02] Jigar3 commented on #181
![screenshot from 2018-01-12 03-31-15](https://user-images.githubusercontent.com/32068121/34849642-12ffd156-f749-11e7-9c9e-6cd4a5acd207.png)

Theme: blinks

[2018-01-12 04:45] pradeepgangwar commented on #194
@gauthamzz duplicate issue. #167

[2018-01-12 04:50] aswinzz opened #205 "Classify projects based on languages"
You can use mixitup js.

[2018-01-12 05:03] Jigar3 commented on #205
I would like to take this issue

[2018-01-12 05:03] mubaris commented on #102
@aayushjoglekar New Projects have added. [Check This](https://opencode18.github.io/projects)

Add new projects and fix mentor error (Right Now "OpenNews" is mentored by Team OpenCode instead of Aswanth and "yes" is mentored by Aswanth instead of Mubaris NK)

[2018-01-12 05:04] mubaris commented on #205
Before implementing this, you need to finish #102

@Jigar3 If you finish #102 you can take this

[2018-01-12 05:06] Jigar3 commented on #205
Ya I will finish #102 first

[2018-01-12 05:07] mubaris commented on #205
@Jigar3 👍

[2018-01-12 05:12] Jigar3 commented on #205
Classification UI can be like this
https://codepen.io/mintia/pen/MoQGRP?limit=all&page=2&q=Classify
Should I classify in this fashion

[2018-01-12 05:17] aayushjoglekar commented on #205
@mubaris #102 was resolved and merged through PR #187. I have to fix some issues related to new project.

[2018-01-12 05:25] mubaris commented on #205
@aayushjoglekar Few projects were added. But now we have included few more projects. @Jigar3 will work on it.

[2018-01-12 07:07] aayushjoglekar commented on #136
Seperate folder to be made for JSON files and update their links should be updated in their respective js files.

[2018-01-12 07:22] marshallKR7 commented on #138
![screenshot-2018-1-12 1 opencode - home](https://user-images.githubusercontent.com/28799332/34863832-70d71142-f797-11e7-9f92-8f0d7fd95c25.png)

[2018-01-12 07:41] aswinzz commented on #164
@gauthamzz  this issue already exists #131

[2018-01-12 07:42] aswinzz commented on #164
i am closing this issue for now! @aayushjoglekar  comment on the old issue. if he is not able to finish then we will assign it to you!

[2018-01-12 07:42] #164 closed

[2018-01-12 07:43] aswinzz commented on #131
@GOVINDDIXIT  status?

[2018-01-12 07:44] pradeepgangwar commented on #155
closed #155 via #202

[2018-01-12 07:44] #155 closed

[2018-01-12 08:00] pradeepgangwar commented on #194
Closing this as duplicate of #167

[2018-01-12 08:00] #194 closed

[2018-01-12 08:38] kgauravk commented on #23
https://resume.github.io/?kgauravk

[2018-01-12 08:41] aayushjoglekar commented on #136
Make the footer responsive.

[2018-01-12 08:54] OrionStar25 commented on #23
https://resume.github.io/?orionstar25

[2018-01-12 09:19] gauthamzz commented on #127
Fix this issue fast

[2018-01-12 09:19] Anupam-dagar opened #211 "Add a good background image to landing section (snow part)"
Preferred image of something related to snow.Take a look at https://opencode18.github.io

[2018-01-12 09:23] cuz789 commented on #211
I would like to work on this

[2018-01-12 09:47] vvvinamer commented on #138
![screenshot 37](https://user-images.githubusercontent.com/35339278/34869016-a05c3154-f7ab-11e7-81e1-48055ab2d45f.png)

[2018-01-12 09:49] vvvinamer commented on #128
![screenshot 39](https://user-images.githubusercontent.com/35339278/34869111-eca67484-f7ab-11e7-8068-71cd72e3eea0.png)

[2018-01-12 09:52] maverick0004 commented on #128
![screenshot from 2018-01-12 15-20-49](https://user-images.githubusercontent.com/33194760/34869241-4adcc616-f7ac-11e7-8ec8-deee5789a1f9.png)

[2018-01-12 09:54] maverick0004 commented on #138
![screenshot from 2018-01-12 15-22-46](https://user-images.githubusercontent.com/33194760/34869325-904e07b4-f7ac-11e7-84e1-1bfc5dc060b0.png)

[2018-01-12 09:59] prathamprakash29 commented on #195
#214

[2018-01-12 10:08] Anubhav2000 commented on #211
Can i work on  this?

[2018-01-12 10:41] im-adi commented on #138
![screenshot](https://user-images.githubusercontent.com/33853663/34871329-43138ff8-f7b3-11e7-90df-9c668cc6b939.png)

[2018-01-12 10:49] surasnayak commented on #181
Done
verified by running : echo $SHELL
RETURNED: /usr/bin/zsh
![zsh](https://user-images.githubusercontent.com/21239888/34871541-1bd67120-f7b4-11e7-9603-75ac12d0cdc2.png)
Is anything else required?

[2018-01-12 10:58] maverick0004 commented on #181
![screenshot from 2018-01-12 16-27-35](https://user-images.githubusercontent.com/33194760/34872050-8f91ab74-f7b5-11e7-9867-3ae4a1ebd264.png)

verified by running : echo $SHELL
RETURNED: /usr/bin/zsh

[2018-01-12 11:35] hacker1x1x1 commented on #160
live link for updated custom scroll bar: https://hacker1x1x1.github.io/OpenCode-Collaborative/

[2018-01-12 11:43] gauthamzz commented on #211
assigned to @cuz789

[2018-01-12 11:44] gauthamzz opened #218 "Change card design"
color as well .

[2018-01-12 11:45] falconis commented on #218
Can I take this?

[2018-01-12 11:47] gauthamzz commented on #218
assigned to @falconis

[2018-01-12 12:42] aayushjoglekar commented on #136
@aswinzz
Add more projects in issues section and add a link for issues section in navbar.

[2018-01-12 12:47] gauthamzz opened #224 "make footer responsive"

[2018-01-12 12:48] gauthamzz opened #225 "Seperate folder to be made for JSON files"
Seperate folder to be made for JSON files and update their links should be updated in their respective js files.

[2018-01-12 12:49] aayushjoglekar commented on #225
I will do this.

[2018-01-12 12:55] Anupam-dagar opened #226 "make contents of footer vertically center"
After addition of color, it will not look good as content stick to top
![](https://user-images.githubusercontent.com/32304546/34869380-ba3a5686-f7ac-11e7-877b-4fcf89bdccbc.PNG)

[2018-01-12 12:57] aayushjoglekar commented on #226
@Anupam-dagar May I work on this?

[2018-01-12 12:58] hacker1x1x1 commented on #226
Can i work on this?

[2018-01-12 13:01] aadixiiita commented on #225
Can i work on this ??

[2018-01-12 13:07] gauthamzz commented on #225
ok

[2018-01-12 13:32] Divy123 commented on #167
Is my issue Resolved....?

[2018-01-12 13:40] techac commented on #138
![screenshot](https://user-images.githubusercontent.com/33215722/34877472-334dbe5e-f7cc-11e7-9290-4970b6ded6ad.png)

[2018-01-12 13:47] #195 closed

[2018-01-12 13:54] utkarshsingh99 commented on #224
I will do it

[2018-01-12 13:55] kamalchaubey1 commented on #138
![screenshot from 2018-01-12 19-24-27](https://user-images.githubusercontent.com/25115489/34877985-5a5f5e4c-f7ce-11e7-8ad4-4f6f1f187d43.png)
DONE!

[2018-01-12 14:10] AK-007 commented on #226
Can I work on this?

[2018-01-12 14:15] Anubhav2000 commented on #226
May i work on this?

[2018-01-12 14:32] Eunoia1729 commented on #128
![screenshot from 2018-01-12 20-00-11](https://user-images.githubusercontent.com/33084435/34879502-823d7d9a-f7d3-11e7-82e4-22d847d59a05.png)

[2018-01-12 14:37] swaager commented on #224
i want to take this issue

[2018-01-12 14:39] pradeepgangwar commented on #167
Please allocate points to @Divy123 He solved the issue in #192 But somebody did the work in his/her PR. No reference to that.

[2018-01-12 14:39] #167 closed

[2018-01-12 14:39] Eunoia1729 commented on #138
![askme](https://user-images.githubusercontent.com/33084435/34879829-8acc118c-f7d4-11e7-9d72-9a1c5785ecd1.png)

[2018-01-12 14:51] adiagg2000 commented on #181
VERIFIED BY running : echo $SHELL
RETURNED: /bin/zsh

![screenshot from 2018-01-12 20-20-45](https://user-images.githubusercontent.com/33027339/34880319-1de8cf18-f7d6-11e7-95ab-45c550cb33de.png)

[2018-01-12 14:56] #160 closed

[2018-01-12 14:59] prathamprakash29 commented on #226
can I work on this?

[2018-01-12 15:00] Anupam-dagar opened #232 "change countdown timer color to gradient"

[2018-01-12 15:02] nikki1016 commented on #175
https://nikki1016.github.io/Color-game/

[2018-01-12 15:02] Anupam-dagar commented on #224
assigned @utkarshsingh99

[2018-01-12 15:03] prathamprakash29 commented on #232
i would like to work on this

[2018-01-12 15:09] ananya-agrawal commented on #232
can i work on this

[2018-01-12 15:21] muskan6769 commented on #232
sir can I do it

[2018-01-12 15:27] #158 closed

[2018-01-12 15:27] #126 closed

[2018-01-12 15:28] #102 closed

[2018-01-12 15:36] #188 closed

[2018-01-12 15:41] aswanthkoleri opened #235 "Fix the flip card animation."
The flip card does'nt rotate smoothly after clicking it once.

[2018-01-12 15:45] GOVINDDIXIT commented on #235
I ll do it

[2018-01-12 15:50] aayushjoglekar commented on #226
@aswinzz Any updates?

[2018-01-12 15:55] brain-sick commented on #235
assign me this

[2018-01-12 17:01] gauthamzz opened #237 "show number of stars and fork each project"
use github api . should be displayed without flipping

[2018-01-12 17:03] Anubhav2000 commented on #232
May i work on this?

[2018-01-12 17:04] aadixiiita commented on #237
I would to work on this ...

[2018-01-12 17:34] aswanthkoleri commented on #235
@brain-sick It goes to you !

[2018-01-12 17:40] pranjalg2308 commented on #235
i would like to work on it.

[2018-01-12 17:46] pranjalg2308 commented on #138
![like](https://user-images.githubusercontent.com/35169520/34888035-9ed9d8a2-f7ee-11e7-8be1-9e7dcd238733.PNG)

[2018-01-12 17:46] sharad10shukla1998 commented on #195
i would like to solve it

[2018-01-12 17:48] RohanShekhawat commented on #138
![capture](https://user-images.githubusercontent.com/34987773/34888101-e1a37f1c-f7ee-11e7-85d8-8e969ab164cc.PNG)

[2018-01-12 18:01] Anupam-dagar commented on #232
@prathamprakash29 assigned

[2018-01-12 18:01] Anupam-dagar commented on #226
@aayushjoglekar assigned

[2018-01-12 18:05] gauthamzz opened #240 "Add cards for particpants games"
Add links of games already made in the issue #175

[2018-01-12 18:08] prathamprakash29 commented on #232
#241

[2018-01-12 18:08] ananya-agrawal commented on #240
i will do this

[2018-01-12 18:09] Panda2498 commented on #240
Can I work on this?

[2018-01-12 18:10] muskan6769 commented on #240
can I do this

[2018-01-12 18:21] Anupam-dagar opened #242 "broken mentors and add a new mentor"
expected behaviour is that grid starts from left most side.
![screenshot from 2018-01-12 23-45-26](https://user-images.githubusercontent.com/21174572/34889146-f9a64a46-f7f2-11e7-9183-bf424b3fb8b2.png)
add this mentor:
name: Himanshu shekhar
take image from facebook
bio : i make things
you can easily find facbook, github and twitter by searching

[2018-01-12 18:22] hacker1x1x1 commented on #242
let me work on this!

[2018-01-12 18:24] gauthamzz commented on #240
first one gets it @ananya-agrawal

girls please see the girls only repo . you can suggest issues and there.

[2018-01-12 18:27] aswinzz commented on #237
@gauthamzz  duplicate issue #176

[2018-01-12 18:32] shivhek25 commented on #23
http://resume.github.io/?shivhek25

[2018-01-12 18:41] adiagg2000 commented on #175
MEMORY GAME

https://adiagg2000.github.io/memory_game/memory.html

[2018-01-12 18:51] AK-007 commented on #242
May I work on it?

[2018-01-12 18:52] gauthamzz opened #245 "Make your own awesome list"
https://github.com/sindresorhus/awesome

awesome list is a great way to find resources over github.
a list made by people will always be better than google.
So everyone make your own awesome list about anything you love.
see the present lists to see some examples.

Once made comment in the comments. Take your time and make it slowly.
It should meet the standards.

If your list makes it to the main

[2018-01-12 19:06] Panda2498 commented on #240
Okkay

On Jan 13, 2018 12:30 AM, "Gautham Santhosh" <notifications@github.com>
wrote:

[2018-01-12 19:11] #115 closed

[2018-01-12 19:12] aswinzz commented on #127
@Esha23  you can work on this

[2018-01-12 19:12] #131 closed

[2018-01-12 19:13] aswinzz commented on #162
any one who wish to work on this?

[2018-01-12 19:14] aswinzz commented on #163
@arpitmisraw  status?

[2018-01-12 19:14] ShiningSaurabh commented on #128
![capture](https://user-images.githubusercontent.com/34839782/34891255-ed4371e0-f7fa-11e7-97d5-bcb53b03ec60.PNG)

[2018-01-12 19:14] gauthamzz commented on #175
@swaager i wish we could move via keyboard. Its hard to click 😄

[2018-01-12 19:15] gauthamzz commented on #175
@nikki1016 im always getting wrong answer. poor me or its always like that 😢

[2018-01-12 19:15] gauthamzz commented on #175
good job @adiagg2000

[2018-01-12 19:19] aswinzz commented on #173
i dont think this issue require that much time.
anyone else can take up this issue and fix participants broken images too

[2018-01-12 19:22] #127 closed

[2018-01-12 19:23] #173 closed

[2018-01-12 19:23] ananya-agrawal commented on #175
will work on a breakout game

[2018-01-12 19:24] arpitmisraw commented on #163
I've finalised the basic layout of how it should be done. But it'll take me some time to implement it.

I'm planning on adding the video below the main header on button press and then removing it on pressing it again.

[2018-01-12 19:25] Esha23 commented on #245
I will do it!!

[2018-01-12 19:25] KomalBhadani27 commented on #245
i want to do it

[2018-01-12 19:41] nikki1016 commented on #175
@gauthamzz no sir,  its not always like that...
![win](https://user-images.githubusercontent.com/26041681/34892224-74b4cf04-f7fe-11e7-9017-9087501c61bf.png)

[2018-01-12 19:44] falconis commented on #175
Can two of us contribute to a single game and get the points individually?

[2018-01-12 19:46] hacker1x1x1 commented on #162
Yes me sir!

[2018-01-12 19:51] Anupam-dagar commented on #242
@hacker1x1x1 assigned

[2018-01-12 19:54] swaager commented on #175
o yeah!! , soon i will fix that @gauthamzz .

[2018-01-12 20:24] gauthamzz commented on #175
If the game is good enough both will get equal or we will divide points half way

[2018-01-12 20:26] gauthamzz commented on #162
Sure

[2018-01-12 20:55] aayushjoglekar commented on #136
Fix mobile view of issues section.
![screenshot_20180113-022512](https://user-images.githubusercontent.com/28949397/34894850-03dd6916-f809-11e7-8920-8bd771534128.png)

[2018-01-12 20:58] aayushjoglekar commented on #136
Make each section's heading the same as issues section.

![screenshot_20180113-022750 01](https://user-images.githubusercontent.com/28949397/34894933-6d84e506-f809-11e7-8272-8f309a8ba34a.png)

[2018-01-12 21:07] gauthamzz commented on #136
Yeah last three ideas seem neat, add them someone. On mobile 😅

[2018-01-12 21:09] gauthamzz commented on #163
Go ahead

[2018-01-12 21:10] gauthamzz commented on #218
Update on this , other issues depend on this

[2018-01-12 21:12] gauthamzz commented on #173
More broken links , merge properly @aswinzz @anupam-Dagar @pradeep-Gangwar @aswanthkoleri

[2018-01-12 21:38] falconis commented on #218
I'll complete it by tomorrow evening. Could you give me some pointers as to what kind of changes you are looking for?

[2018-01-12 21:39] yashovardhanagrawal opened #248 "typo in file: PULL_REQUEST_TEMPLATE"
it should be `PULL_REQUEST_TEMPLATE`, not `PULL_RQUEST_TEMPLATE`

[2018-01-12 21:40] yashovardhanagrawal commented on #248
you may add the label `Rookie` here

[2018-01-12 23:32] surasnayak commented on #248
@yashovardhanagrawal can I do this?

[2018-01-12 23:48] gauthamzz commented on #248
Yeah sure

[2018-01-12 23:55] gauthamzz opened #250 "Show all projects in issues"
For github api it’s only shown for two projects . Should be for each project in the json file.

[2018-01-12 23:56] surasnayak commented on #245
should I actually make a repository and make a list or just commect the file with the list here itself?

[2018-01-12 23:57] gauthamzz commented on #245
Make a repo in your own account and do it

[2018-01-12 23:59] gauthamzz opened #251 "Make a website for yourself"
Host on gh pages and comment link.

[2018-01-13 00:44] surasnayak commented on #245
Below is the Link to my repository where awesome-list is made.
Please check. : )
Link: https://github.com/surasnayak/awesome-list-coding-challenge-websites

[2018-01-13 01:22] surasnayak commented on #251
Can we do it only using HTML and CSS?

[2018-01-13 04:01] nityanandagohain commented on #250
i want to work on this

[2018-01-13 05:24] pradeepgangwar commented on #250
@nityanandagohain assigned.

[2018-01-13 07:05] gauthamzz commented on #251
Its personal website , you can make anyway you want . Don’t you site builder like wix or Wordpress . Anything else is fine

[2018-01-13 08:16] atisayajain commented on #138
![capture](https://user-images.githubusercontent.com/19758073/34904244-140385b4-f868-11e7-93a1-7ad9d8b295ec.PNG)

[2018-01-13 08:16] #232 closed

[2018-01-13 08:18] atisayajain commented on #128
![capture](https://user-images.githubusercontent.com/19758073/34904270-7c8a2e94-f868-11e7-92e6-b2c12c2a2ea1.PNG)

[2018-01-13 08:34] shivhek25 commented on #128
![screenshot](https://user-images.githubusercontent.com/24766191/34904375-8e6a6230-f86a-11e7-8343-2ab90bfc2ad8.png)

[2018-01-13 08:59] #248 closed

[2018-01-13 09:05] aswanthkoleri opened #255 "Remove the gradient on hovering over the social icons on the flip cards."
![screenshot from 2018-01-13 14-33-07](https://user-images.githubusercontent.com/21339090/34904590-c71d1808-f86e-11e7-8ed8-7f85aed10000.png)
Remove this gradient.Just the light blue on hover as before is enough.

[2018-01-13 09:08] aswanthkoleri opened #256 "Add Issues of all projects in the Issue section."
As of now, only the OpenCode collabarative and Codestash repo's issues are being shown in the issue section.Add the issues of all the projects registered under OpenCode. You can refer the Main Website for getting the list of all the projects that Opencode is serving.

[2018-01-13 09:16] Ace-Bansal commented on #256
I'd like to work on this

[2018-01-13 09:31] pradeepgangwar commented on #256
@Ace-Bansal  assigned

[2018-01-13 09:32] pradeepgangwar commented on #256
@aswanthkoleri But this is duplicate of #250

[2018-01-13 09:34] pranjalg2308 commented on #255
i would like to do it

[2018-01-13 09:37] aadixiiita commented on #251
https://aadixiiita.github.io

[2018-01-13 09:37] shantam0810 commented on #128
![opcode](https://user-images.githubusercontent.com/35340673/34904821-810cfbbc-f873-11e7-8f34-7d6efc96965f.PNG)

[2018-01-13 09:45] #256 closed

[2018-01-13 10:42] brain-sick commented on #251
https://brain-sick.github.io/webGame.github.io/

[2018-01-13 10:44] brain-sick commented on #175
https://brain-sick.github.io/webGame.github.io/

[2018-01-13 10:46] rahulkumaran commented on #251
https://rahulkumaran.github.io

[2018-01-13 11:15] #176 closed

[2018-01-13 11:25] aswinzz opened #261 "Fix stars and forks in mobile view"
![screenshot from 2018-01-13 21-24-46](https://user-images.githubusercontent.com/25057819/34905598-81710148-f882-11e7-8c33-2141063c8b59.png)

[2018-01-13 11:32] arpitmisraw commented on #261
I would like to work on this since I'm almost finished with my previously assigned issue #163

[2018-01-13 12:26] abhishhh1 commented on #251
My Blog - https://abhishhh1.github.io
still in progress

[2018-01-13 12:35] gauthamzz commented on #251
@brain-sick its supposed to be yourwebstie here . and game in diffrent post

[2018-01-13 13:16] pradeepgangwar commented on #255
@pranjalg2308 assigned.

[2018-01-13 13:26] MaanasVohra commented on #138
![screen shot 2018-01-13 at 7 00 36 pm](https://user-images.githubusercontent.com/25277647/34906413-5674e3d6-f893-11e7-947c-4e1ac8c3834e.png)

[2018-01-13 13:29] MaanasVohra commented on #128
![screen shot 2018-01-13 at 7 05 15 pm](https://user-images.githubusercontent.com/25277647/34906435-d34b4062-f893-11e7-8973-d79f549a63bf.png)

[2018-01-13 13:46] #163 closed, assigned to nobody

[2018-01-13 13:54] #218 closed

[2018-01-13 13:54] MaanasVohra commented on #136
Issues for all the projects aren't there under the projects section.

[2018-01-13 15:02] #235 closed

[2018-01-13 15:04] pradeepgangwar commented on #261
@arpitmisraw assigned

[2018-01-13 15:26] nityanandagohain commented on #23
https://resume.github.io/?nityanandagohain

[2018-01-13 16:34] gauthamzz opened #268 "Link star and fork to the github repo"
Only for new commers. To start off with opencode

[2018-01-13 16:51] shivhek25 commented on #268
I don't understand what do you exactly mean by this.

[2018-01-13 16:53] gauthamzz commented on #268
the star and fork on the website top corner. when you click it ,redicrect to the github repository.
its a simple issue.

[2018-01-13 17:49] shivhek25 commented on #268
So basically if someone clicks on the star or fork button the top corner of the page, then it redirects to https://github.com/opencode18/OpenCode-Collaborative. Right ?

[2018-01-13 17:50] shivhek25 commented on #268
I would like to take this up in that case.

[2018-01-13 18:30] ashish4321 commented on #23
https://resume.github.io/?ashish4321

[2018-01-13 18:48] hacker1x1x1 commented on #251
https://hacker1x1x1.github.io/

[2018-01-13 21:01] brain-sick commented on #138
![screenshot_2018-01-14-02-24-01-961_com android chrome](https://user-images.githubusercontent.com/34164978/34910021-f9e70168-f8d2-11e7-8e8c-d880d5d84bfa.png)

[2018-01-13 22:14] gauthamzz opened #271 "Make a chatbot"
Create a facebook page
Create a chatbot for that page using services such as chatfuel or dialogflow or wit.ai

Make your bot do something. see bot stores to get ideas about chatbots.

Comment link on fb page at the bottom. Share your creation to the world on fb and tag opencode page. 😄 (that link also comment)
The bots which stands out will get extra credits. Depending on your implementation and c

[2018-01-13 22:44] anandwana001 commented on #251
https://anandwana001.github.io/

[2018-01-13 23:02] swaager commented on #271
i want to do it!!!

[2018-01-13 23:08] gauthamzz commented on #271
Issue is for everyone

[2018-01-13 23:21] anandwana001 commented on #245
Link:- https://github.com/anandwana001/awesome-google-communities-certification
here is my awesome list. I will update it regularly

[2018-01-13 23:31] anandwana001 commented on #138
![screenshot_2018-01-14-05-00-41-525_com facebook katana](https://user-images.githubusercontent.com/25057618/34911067-e7542390-f8e7-11e7-8b0d-19353d63adeb.png)

[2018-01-13 23:40] anandwana001 commented on #23
[GitHub Resume](https://resume.github.io/?anandwana001)

[2018-01-13 23:51] anandwana001 commented on #1
@aswinzz some of the participants images are not visible on website. If this issue can act as a separate issue please do assign to me, would like to do this.

[2018-01-14 00:10] surasnayak commented on #251
https://surasnayak.github.io/MySpace/home.html

[2018-01-14 00:39] vchrombie commented on #251
https://vchrombie.github.io/

[2018-01-14 05:19] pradeepgangwar opened #273 "Fix non visible images in participants"
Some of the images are not visible in participants list. We would like to fix them.

[2018-01-14 05:41] aadixiiita commented on #273
I would like to fix it ..

[2018-01-14 06:01] vchrombie commented on #23
http://resume.github.io/?vchrombie

[2018-01-14 06:07] Ace-Bansal commented on #31
![screenshot 25 _li](https://user-images.githubusercontent.com/34866483/34913304-28699c3e-f91f-11e7-9115-6dedbc7b52a5.jpg)

[2018-01-14 06:12] aadixiiita commented on #136
We can change CSS/Looks/Colour of Top Nav bar and The animation behind fav icon , As it is not so attractive in Grey ...

[2018-01-14 06:31] priyanka-choubey commented on #128
![screenshot 6](https://user-images.githubusercontent.com/33806116/34913404-940a4148-f922-11e7-91e8-b7440be84938.png)

[2018-01-14 06:32] brain-sick commented on #273
Let me do it

[2018-01-14 06:33] pradeepgangwar commented on #273
@brain-sick @anandwana001 is doing this.

[2018-01-14 07:05] aswinzz opened #281 "Fix trailer window"
the player window is not visible completely.

[2018-01-14 07:08] Ace-Bansal commented on #281
may i work on this?

[2018-01-14 07:10] aswinzz commented on #226
@aayushjoglekar  what's the status?

[2018-01-14 07:10] aswinzz commented on #281
sure!

[2018-01-14 07:10] KomalBhadani27 commented on #281
i want to work on this

[2018-01-14 07:12] aswinzz commented on #250
@nityanandagohain  status?

[2018-01-14 07:13] aswinzz commented on #237
@aadixiiita status?

[2018-01-14 07:14] aswinzz commented on #224
@utkarshsingh99  what's the updates?

[2018-01-14 07:15] aswinzz commented on #240
@ananya-agrawal  status?

[2018-01-14 07:16] aswinzz commented on #205
@Jigar3 status??

[2018-01-14 07:17] aswinzz commented on #162
@hacker1x1x1  status?

[2018-01-14 07:18] Jigar3 commented on #205
Please allot this issue to someone else

[2018-01-14 07:20] aswinzz opened #282 "Make each heading as same as issues heading"
![](https://user-images.githubusercontent.com/28949397/34894933-6d84e506-f809-11e7-8272-8f309a8ba34a.png)

[2018-01-14 07:21] aswinzz opened #283 "Make issue section responsive"
![](https://user-images.githubusercontent.com/28949397/34894850-03dd6916-f809-11e7-8920-8bd771534128.png)

[2018-01-14 07:22] priyanka-choubey commented on #282
i want to work on this.

[2018-01-14 07:26] hacker1x1x1 commented on #283
i can do this

[2018-01-14 07:41] hacker1x1x1 commented on #162
oh! sorry
i just didn't noticed this
will do it in few hours

[2018-01-14 07:41] hacker1x1x1 commented on #162
once my old pr is merged

[2018-01-14 07:47] aswinzz commented on #282
@priyanka-choubey  you can work on this.

[2018-01-14 07:51] #242 closed

[2018-01-14 07:51] aswinzz commented on #283
@hacker1x1x1  you can work on it

[2018-01-14 08:06] pradeepgangwar commented on #281
@KomalBhadani27 sorry but @Ace-Bansal was the first to ask here. You can always pick other issues on any repo.

[2018-01-14 08:06] aadixiiita commented on #237
Sir , i am able to get stars nd forks through api , and put in Html But as Stars and Forks are variable and fetched from api , How can i put them on flip card , As all information of flip card is Static and fixed value contained in Json file .

[2018-01-14 08:11] KomalBhadani27 commented on #281
Sure. I know. Not need to say sorry. I know he asked first.

[2018-01-14 08:27] pradeepgangwar opened #287 "Trailer text color in navbar does not match other navbar items color"
![screenshot-2018-1-14 opencode 1](https://user-images.githubusercontent.com/21259802/34914165-d349bfe0-f932-11e7-815b-440ff3e4731a.png)

[2018-01-14 08:29] #268 closed

[2018-01-14 08:29] KomalBhadani27 commented on #287
i want to do this

[2018-01-14 08:30] pradeepgangwar commented on #287
assigned

[2018-01-14 08:38] Panda2498 commented on #136
Stars and forks, don't display the number of stars and forks yet! Link it to the github page to view it.

[2018-01-14 08:39] Panda2498 commented on #136
Add issues of all projects, as of now issues of only 2 projects are there.

[2018-01-14 08:43] pradeepgangwar opened #288 "disable link highlighting when hovering over to fork and stars and redirect to new tab"
Currently when we hover to fork and stars it highlights it which is default property of anchor tag. We wish to disable that to keep it simple. Also on clicking it link should open in new tab instead of same tab.

![screenshot from 2018-01-14 14-09-29](https://user-images.githubusercontent.com/21259802/34914260-111be274-f935-11e7-8d72-7c39f261a1bd.png)

[2018-01-14 08:49] arpitmisraw commented on #288
I'd like to work on this.

[2018-01-14 08:50] Esha23 commented on #288
I would like to work on it.

[2018-01-14 08:52] pradeepgangwar commented on #288
@arpitmisraw you are working on #261. Would you mind giving this to @Esha23

[2018-01-14 08:56] muskan6769 commented on #288
can I do it

[2018-01-14 08:58] KomalBhadani27 commented on #288
i want to do this

[2018-01-14 09:22] pradeepgangwar commented on #288
assigned to @Esha23 as @arpitmisraw already has a issue assigned i.e. #261

[2018-01-14 09:23] #128 closed

[2018-01-14 09:30] aswinzz opened #289 "Fix alignment"
Make it centered
![screenshot from 2018-01-14 14-59-05](https://user-images.githubusercontent.com/25057819/34914605-b5872b38-f93b-11e7-9642-543e0e143c5e.png)

[2018-01-14 09:34] KomalBhadani27 commented on #289
i want to do it

[2018-01-14 09:56] arpitmisraw commented on #288
I solved #261 . But it's fine. I'll take up another one in the future. :smiley:

[2018-01-14 10:05] abhishhh1 commented on #289
I m working on it

[2018-01-14 10:20] abhishhh1 commented on #289
Sir, I've solved this issue

[2018-01-14 12:53] pranjalg2308 opened #296 "Remove the underline on hovering over the forks and stars icons ."
![fork](https://user-images.githubusercontent.com/35169520/34916108-5e5a36c6-f958-11e7-9912-0536923c7ca8.png)

[2018-01-14 12:56] pranjalg2308 commented on #296
i would like to do it

[2018-01-14 14:00] muskan6769 commented on #296
can I do it

[2018-01-14 14:19] pradeepgangwar commented on #296
duplicate of #288

[2018-01-14 14:20] pradeepgangwar commented on #289
@aswinzz it was centered but @Anupam-dagar created a issue after which it was center aligned.

[2018-01-14 15:13] KomalBhadani27 opened #299 "Incomplete view of trailer video"
When clicking on trailer link the video that is displayed is clipped from bottom. It should be fixed.

[2018-01-14 15:19] KomalBhadani27 commented on #299
also I want to fix it.

[2018-01-14 15:36] aayushjoglekar commented on #299
Dual personality or something?

[2018-01-14 16:06] aswinzz commented on #299
duplicate issue #281

[2018-01-14 16:06] #299 closed

[2018-01-14 16:07] #296 closed

[2018-01-14 16:42] KomalBhadani27 commented on #287
The colour is different because the target trailer window is in the first page only. When we scroll to other section of the page the rest of the navbar items' colour changes accordingly.

[2018-01-14 16:52] pradeepgangwar commented on #287
But we aren't either focused to trailer ... probably it can be fixed by removing the bootstrap classes from link and that of trailer window. Or renaming them such that both (navbar link and trailer window) have different class names.

[2018-01-14 16:55] KomalBhadani27 commented on #287
Okay I will do it.

[2018-01-14 16:58] ashraysinha6069 commented on #289
i would like to work on this issue

[2018-01-14 17:08] #261 closed

[2018-01-14 17:09] ashraysinha6069 commented on #261
i would like to work on this

[2018-01-14 17:13] pradeepgangwar commented on #224
@utkarshsingh99 unassigned

[2018-01-14 17:15] #226 closed

[2018-01-14 17:21] gauthamzz opened #301 "Make site uniform"
The color of the site is very diffrent for diffrent parts. Try to make the colors uniform.

[2018-01-14 17:26] KomalBhadani27 commented on #301
i would do it

[2018-01-14 17:28] KomalBhadani27 commented on #224
i will do it

[2018-01-14 17:57] pradeepgangwar commented on #224
@KomalBhadani27 assigned

[2018-01-14 17:59] hiteshpr commented on #251
hiteshroy.me

[2018-01-14 18:01] hiteshpr commented on #23
http://resume.github.io/?hiteshpr

[2018-01-14 18:21] aadixiiita commented on #175
https://aadixiiita.github.io/mygame/

[2018-01-14 18:28] gauthamzz commented on #175
@aadixiiita game needs score or its not a game 😄

[2018-01-14 18:51] kgauravk commented on #138
![screenshot 2018-01-15 00 15 30](https://user-images.githubusercontent.com/34207555/34919433-f30467c0-f989-11e7-9c9f-d32c08200a36.png)

[2018-01-14 19:44] Esha23 commented on #301
Can I try?

[2018-01-14 20:01] AK-007 commented on #174
Cards for projects are already added in the site.

[2018-01-14 20:09] gauthamzz commented on #301
assigned to @KomalBhadani27

[2018-01-14 20:36] surasnayak commented on #136
A image file named saurabh.png is uploaded in the main repository instead of inside contestants folder.
Move it to the Contestants folder.
I would like to do.

[2018-01-14 20:41] surasnayak commented on #136
Issues from only two projects are being shown add all of them

[2018-01-14 20:42] ananya-agrawal commented on #251
https://ananya-agrawal.github.io/anayaagrawal125.github.io/

[2018-01-14 20:43] surasnayak commented on #136
In the footer the social icons can be made more elegant by enlarging slightly and adding some animation while hovering over it.

[2018-01-14 21:04] ananya-agrawal commented on #240
@aswinzz working on it will soon complete it

[2018-01-14 21:06] gauthamzz commented on #240
You won’t get anymore issues until it’s done

[2018-01-15 03:59] aadixiiita commented on #175
It's showing the score at the bottom when Ball hits , nd after 3 seconds Page reloads for next turn ???

[2018-01-15 07:57] surasnayak commented on #136
Auto turn of cards when we hover over it feature would be really good to add.

[2018-01-15 08:52] #138 closed

[2018-01-15 08:53] #281 closed

[2018-01-15 09:09] gauthamzz opened #308 "Increase speed of loading the website"
refer google developers. Get a score above 75 atleast.

Resize all images, minify files which wont be ever changed. Keep both min and non minified but link only to the minified version

[2018-01-15 09:10] #273 closed

[2018-01-15 09:12] gauthamzz opened #310 "Implement lazy loading"

[2018-01-15 09:13] falconis commented on #308
I'd like to take this.

[2018-01-15 09:13] Ace-Bansal commented on #310
can i work on this?

[2018-01-15 09:16] surasnayak commented on #136
facebook link which has been added is flickering when we hover away from downward it.

[2018-01-15 09:17] gauthamzz commented on #308
assigned to @falconis

[2018-01-15 09:17] gauthamzz commented on #310
@Ace-Bansal 👍 go ahead

[2018-01-15 13:00] Ace-Bansal commented on #310
I used the Lazy Load jQuery plugin but that's working only on the OpenCode logo and the images in the footer but not on the participants' and mentors' images (maybe because these images are being fetched from a JSON file).
So instead I tried lazy loading the divs that contain the cards of mentors and participants. However I'm not quite sure if it's working. It's not showing any error in the consol

[2018-01-15 13:45] #288 closed

[2018-01-15 14:03] shivhek25 commented on #251
https://shivhek25.github.io

[2018-01-15 14:06] gauthamzz commented on #251
why is your website asking my name 😆 @shivhek25

[2018-01-15 15:04] #162 closed

[2018-01-15 15:40] Ace-Bansal commented on #310
@gauthamzz

[2018-01-15 15:41] Anupam-dagar commented on #310
@Ace-Bansal come over to zulip

[2018-01-15 15:43] #211 closed

[2018-01-15 15:51] adiagg2000 commented on #251
https://adiagg2000.github.io/my/a.html

[2018-01-15 16:01] aswinzz opened #313 "Use github student pack and using .me domain create a portfolio website"
Using your college id you can avail github student pack which gives lot of offers one among them is free .me domain, use that and link it to your portfolio website.
Link the website created in #251 to the .me domain

Comment down the links below.

[2018-01-15 16:21] Ajay2007 commented on #271
Sir I would like to take this issue.

[2018-01-15 18:50] mubaris opened #315 "Add New Projects from Go Students"
Visit https://github.com/gostudent and add all the projects which are not available on the website.

**Only Add Projects which have opencode18 label**

[2018-01-15 19:01] nikki1016 commented on #315
can I do this?

[2018-01-15 19:02] mubaris commented on #315
@nikki1016 If you don't have any other issue assigned, Go ahead

[2018-01-15 19:04] nikki1016 commented on #315
okh ...I will.. :+1:

[2018-01-15 19:12] vchrombie commented on #313
http://vchrombie.me/

[2018-01-15 19:38] #283 closed

[2018-01-15 19:43] aswinzz commented on #271
@Ajay2007  it is for everyone :disappointed:

[2018-01-15 19:56] ananya-agrawal commented on #175
https://ananya-agrawal.github.io/break-the-brick-game/

[2018-01-16 07:01] adiagg2000 commented on #313
http://aditiagg2000.me/my/a.html

[2018-01-16 08:12] aadixiiita commented on #313
https://aadishukla.me

[2018-01-16 08:14] nikki1016 commented on #315
is this project(https://github.com/gostudent/gostudent.github.io) also to be included ?
There are no issues and PRs opened but a closed issue was labelled as Opencode18

[2018-01-16 08:31] mubaris commented on #315
Do not add that

[2018-01-16 08:41] #315 closed

[2018-01-16 12:30] falconis commented on #181
![zsha](https://user-images.githubusercontent.com/30634978/34989075-145450d0-fae7-11e7-87e1-cb6deb29d600.png)

[2018-01-16 13:07] gauthamzz commented on #250
This is issue is open, if anyone want can solve this.

[2018-01-16 13:14] arpitmisraw commented on #250
I'd like to work on it

[2018-01-16 13:17] gauthamzz commented on #250
@arpitmisraw assigned to you

[2018-01-16 14:50] arpitmisraw opened #321 "The trailer won't stop playing after it's closed"
I had added the trailer functionality but had taken care of trailer not playing once it was closed. Somehow, there's now a bug and it still plays.

Also, can I work on it? I have one issue assigned- #250 , but I think I can solve both .

[2018-01-16 16:58] Anupam-dagar opened #322 "add new mentor"
"name" : Abhinav Khare,
 "about" : "My mom says I'm cool",
 search for fb, twitter and github links and use fb profile pic for image.

[2018-01-16 17:02] hacker1x1x1 commented on #322
i will do it

[2018-01-16 17:04] IIT2017032 commented on #322
i want to do it

[2018-01-16 17:21] aayushjoglekar commented on #321
I would like to work on this.

[2018-01-16 17:52] #322 closed

[2018-01-16 18:20] surasnayak commented on #205
What exactly do we need to do.?

[2018-01-16 19:57] aswinzz commented on #321
@aayushjoglekar assigned

[2018-01-16 20:02] aswinzz opened #325 "Update scores.json"
This issue is for everyone, Update your scores in `scores.json` present in `json` folder. Follow the format given in readme while updating your marks.
Mentors will be reviewing the scores.If we find any mismatch in your scores negative marks will be given!.

[2018-01-16 20:30] gauthamzz opened #326 "make a leaderboard"
Similar to the one in this https://github.com/fossiiita/opencode2017

[2018-01-16 21:29] Esha23 commented on #326
I will try..

[2018-01-16 21:55] ritikamotwani commented on #175
https://ritikamotwani.github.io/Tetris/

[2018-01-16 22:18] gauthamzz commented on #326
@Esha23 Sure. Make sure you do this issue fast. This is a priority and will take time.

[2018-01-17 02:50] aayushjoglekar commented on #326
I will do this.

[2018-01-17 05:08] surasnayak commented on #325
What about those issues which only needed to comment a SS. Do we leave the pr blank?

[2018-01-17 07:24] jat9674 commented on #251
It should be a portfolio type or It can be any site that I created by own?

[2018-01-17 08:02] aswinzz commented on #325
yeah!

[2018-01-17 08:06] ananya-agrawal commented on #271
https://www.facebook.com/Jane-2020199884928709/
tried making one will make a better one in future

[2018-01-17 11:12] gauthamzz commented on #251
It can be a personal blog or personal website . I thought it was clear .

[2018-01-17 12:02] falconis commented on #308
Which software should I use to resize the images?

[2018-01-17 12:30] falconis commented on #136
Back side of cards show parts from the front side in mobile.
![Uploading Screenshot (Jan 17, 2018 5_46_27 PM).png…]()

[2018-01-17 12:31] falconis commented on #136
Back side of cards show parts of the front side in mobile:
![screenshot jan 17 2018 5_46_27 pm](https://user-images.githubusercontent.com/30634978/35042894-5fe1fcb8-fbb0-11e7-9b12-5c9154f41084.png)

[2018-01-17 13:51] falconis commented on #308
I brought up the score from 45 to 72 by resizing the images. Will that do? As can't think of any other way to improve the score, since all linked files are also minified.

[2018-01-17 13:52] gauthamzz commented on #308
yeah thats enough for now

[2018-01-17 13:53] gauthamzz opened #332 "Make preloader Opencode logo"
Animation should be thier on opencode logo

[2018-01-17 13:56] falconis commented on #332
Can I take this? Since I'm about submit a PR.

[2018-01-17 14:06] nityanandagohain commented on #136
![screenshot from 2018-01-17 19-34-20](https://user-images.githubusercontent.com/26831659/35046655-a38da8d8-fbbd-11e7-87ad-e4f5fbe60d48.png)
It should aligned to the centre

[2018-01-17 14:09] aadixiiita commented on #332
I would like to work on it ..

[2018-01-17 14:09] aayushjoglekar commented on #332
I would like to do this

[2018-01-17 14:11] gauthamzz commented on #332
you have too many issues already @falconis
@aadixiiita you can do it

[2018-01-17 14:11] #308 closed

[2018-01-17 14:30] ananya-agrawal commented on #332
just need to add svg of open code?

[2018-01-17 14:43] gauthamzz commented on #332
yeah

[2018-01-17 15:51] aswinzz commented on #205
https://www.hackinthenorth.com/team.html something like this. It will be better if we can shift the projects to a new page and do this thing there!

[2018-01-17 15:51] aswinzz commented on #205
@surasnayak would you like to do?

[2018-01-17 15:53] #321 closed

[2018-01-17 17:24] aswinzz commented on #282
Issue is reassigned! anyone can take up this issue

[2018-01-17 17:36] aswinzz opened #341 "Add animation to about section"
about section is simple right now add animations to it and separate the timer and about section.

[2018-01-17 17:40] hacker1x1x1 commented on #341
I would like to do this

[2018-01-17 17:43] aswinzz opened #342 "Make the navbar hidden in the landing page"

[2018-01-17 17:44] aswinzz commented on #341
Yeah

[2018-01-17 18:05] Ace-Bansal commented on #342
May I work on this please?

[2018-01-18 06:37] shivhek25 commented on #325
What do we mention if we have referred somebody ? Does that get counted automatically or are we supposed to mention that somewhere ?

[2018-01-18 08:18] shivhek25 commented on #251
@gauthamzz It's a feature. The website later displays your name on the header welcoming you to my website.

[2018-01-18 11:19] SLakhani1 commented on #23
https://resume.github.io/?SLakhani1

[2018-01-18 13:17] gauthamzz opened #347 "Remove about section"

[2018-01-18 13:29] gauthamzz opened #348 "Share on Social Media"
Share the cool things you make in Opencode regardless of the repo it is in. Anything you make which you think is cool,share them 😄

Tag Opencode page on Facebook.
Post Screenshots or links of posts.

[2018-01-18 15:00] hacker1x1x1 commented on #347
i would do this

[2018-01-18 15:06] pradeepgangwar commented on #347
@hacker1x1x1 assigned

[2018-01-18 15:09] pradeepgangwar commented on #341
Closing this as it conflicts with #347

[2018-01-18 15:09] #341 closed

[2018-01-18 17:17] SLakhani1 commented on #175
will work on a snake game

[2018-01-18 17:32] SLakhani1 commented on #175
will work on a snake game

[2018-01-18 22:20] MaanasVohra commented on #175
https://maanasvohra.github.io/2D-Ping-Pong-Game/

[2018-01-19 07:28] aswinzz opened #353 "move projects to different page"
create a page for projects and move the projects to that page

[2018-01-19 07:29] aswinzz commented on #353
use the same template

[2018-01-19 07:30] Ace-Bansal commented on #353
May I work on this?

[2018-01-19 07:30] #32 closed

[2018-01-19 07:31] aswinzz commented on #205
Anyone who would like to take up this issue?

[2018-01-19 07:33] #224 closed

[2018-01-19 07:36] aswinzz commented on #237
@aadixiiita in the  api call give the variable of repo name instead of real value.

[2018-01-19 07:37] Ace-Bansal commented on #310
can i be unassigned from this issue? I tried a lot but just couldn't implement it.

[2018-01-19 07:41] aswinzz commented on #255
this issue is open !

[2018-01-19 07:42] aswinzz commented on #240
@ananya-agrawal  this issue will be reassigned it you are not able to complete it by today!

[2018-01-19 07:43] #250 closed

[2018-01-19 07:49] aswinzz commented on #289
@pradeepgangwar so shall we assign someone?

[2018-01-19 07:49] Anupam-dagar commented on #310
@falconis assigned

[2018-01-19 07:50] aswinzz commented on #301
@KomalBhadani27  status?

[2018-01-19 07:52] aswinzz commented on #325
@shivhek25  yeah you have to mention referral and the link should be their pr

[2018-01-19 07:53] aswinzz commented on #326
@Esha23  status?

[2018-01-19 07:53] aswinzz commented on #332
@aadixiiita  status?

[2018-01-19 07:53] prathamprakash29 commented on #287
I would like to work on this.

[2018-01-19 07:53] aswinzz commented on #342
@Ace-Bansal you can work on it

[2018-01-19 07:55] aswinzz commented on #353
you have issue #342 !

[2018-01-19 07:59] #332 closed

[2018-01-19 08:00] #325 closed

[2018-01-19 08:01] #347 closed

[2018-01-19 08:02] hacker1x1x1 commented on #353
i would do this

[2018-01-19 09:05] aayushjoglekar commented on #353
I can work on this.

[2018-01-19 10:17] pradeepgangwar commented on #289
@aswinzz sure. Do it.

[2018-01-19 10:19] pradeepgangwar commented on #287
@prathamprakash29 assigned.

[2018-01-19 10:20] pradeepgangwar commented on #353
@aayushjoglekar @hacker1x1x1 pls comment here the number of issues you are working currently on any project.

[2018-01-19 11:07] shivhek25 commented on #174
Is this unassigned ? Can i work on this ?

[2018-01-19 11:10] shivhek25 commented on #282
Can you specify what exactly do you want ? I can work on this then

[2018-01-19 11:30] shivhek25 commented on #255
I would like to work on this.

[2018-01-19 13:23] AK-007 commented on #353
@aswinzz May I work on it?
Do you want that when the user clicks on "Projects"(nav bar) then he should be directed to different page with the projects in it.

[2018-01-19 13:27] hacker1x1x1 commented on #353
just one issue to make profileportal-beta site responsive @pradeepgangwar

[2018-01-19 13:38] Ace-Bansal commented on #289
may I work on this then?

[2018-01-19 15:01] gauthamzz opened #355 "Add bg card for projects or apply some animation"
Projects cards look dull with only orange. Apply either images or do some effect using css.

Images should be compressed

[2018-01-19 15:12] aswanthkoleri opened #356 "Fix Github API using features in page."
The stars and forks are not being shown in the website. Also the Issues are also not being loaded.There is some fault in the Github API calling.Once Fixing that problem will solve this issue.

[2018-01-19 15:38] Ace-Bansal commented on #356
May I work on this?

[2018-01-19 16:40] Anupam-dagar commented on #289
@pradeepgangwar i remember creating an issue for centering it :stuck_out_tongue:
@Ace-Bansal assigned

[2018-01-19 16:44] Anupam-dagar opened #358 "smooth share for facebook share on right side"
currently when you hover on it, it just reveals page details without any smooth slide animation.

[2018-01-19 16:50] Anupam-dagar opened #359 "add a reading progress bar to the page"

[2018-01-19 16:52] swaager commented on #359
I want to do this

[2018-01-19 17:02] hacker1x1x1 commented on #356
Can I work on this issue?

[2018-01-19 17:23] ashispnayak commented on #23
https://resume.github.io/?ashispnayak

[2018-01-19 17:26] MaanasVohra commented on #358
Can I work on this issue?

[2018-01-19 17:59] AK-007 commented on #356
@aswanthkoleri May I work on this issue?

[2018-01-19 18:02] Anupam-dagar commented on #358
get yourself a room in GH first :stuck_out_tongue:

[2018-01-19 19:04] MaanasVohra commented on #358
One of the mentors will have to create an issue for that :p

[2018-01-19 19:12] falconis commented on #310
Pls reassign. Couldn't implement it.

[2018-01-19 19:44] Anupam-dagar commented on #358
Sorry but nobody will be able to create a PR for that :stuck_out_tongue:

[2018-01-19 20:27] #342 closed

[2018-01-19 20:34] pradeepgangwar commented on #353
assigned to @hacker1x1x1

[2018-01-19 21:33] gauthamzz opened #360 "Make Games appear as a pop up screen inside the webiste"
You can use something like Iframe or whatever you like

[2018-01-19 21:36] gauthamzz commented on #289
Solve this issue fast,the website looks bad.

[2018-01-19 21:41] Ace-Bansal commented on #289
@gauthamzz on it

[2018-01-19 22:08] gauthamzz opened #361 "Add all particiapant Games in cards"
Add in the Json file for game and change the url in this line https://github.com/opencode18/OpenCode-Collaborative/blob/master/js/game.js#L7
to our main repo

[2018-01-19 22:08] #240 closed

[2018-01-19 22:29] pradeepgangwar commented on #358
@MaanasVohra assigned.

[2018-01-19 22:29] pradeepgangwar commented on #359
@swaager assigned.

[2018-01-19 22:30] pradeepgangwar commented on #356
@Ace-Bansal assigned.

[2018-01-19 22:30] pradeepgangwar commented on #174
@shivhek25 assigned

[2018-01-19 23:21] ananya-agrawal commented on #361
i will do this

[2018-01-19 23:49] gauthamzz commented on #361
ok

[2018-01-19 23:50] gauthamzz commented on #174
wait duplicate issue.

[2018-01-19 23:50] #174 closed

[2018-01-19 23:50] gauthamzz commented on #174
Games are already added. Sorry for my mistake.

[2018-01-19 23:53] ananya-agrawal commented on #361
@gauthamzz  done

[2018-01-19 23:53] #361 closed

[2018-01-20 04:21] AK-007 commented on #360
I would like to work on it.

[2018-01-20 05:08] shivhek25 commented on #355
I can work on it but most of the time the project cards or the participant cards don't load, i.e. they aren't visible.

[2018-01-20 05:49] Anupam-dagar commented on #310
This issue is open to take

[2018-01-20 06:03] gauthamzz commented on #360
Yeah

[2018-01-20 08:22] pradeepgangwar commented on #287
This issue has no meaning since now navbar is hidden on landing page.

[2018-01-20 08:22] #287 closed

[2018-01-20 08:59] Anupam-dagar commented on #358
@MaanasVohra sorry my mistake, I was moderating Girls Who Code repo last night, then saw the comment and thought it to be in same repo. :stuck_out_tongue:

[2018-01-20 09:05] CosmicCoder96 opened #367 "Add longDrive as a project"
https://github.com/CosmicCoder96/longDrive

Mentor: Abhinav Khare

[2018-01-20 09:32] ananya-agrawal commented on #367
i will do this

[2018-01-20 09:34] AK-007 commented on #282
I would like to work on this.

[2018-01-20 09:43] #367 closed

[2018-01-20 09:43] gauthamzz commented on #355
They don’t load when there is an error with the json

[2018-01-20 10:16] ritikamotwani commented on #23
https://resume.github.io/?ritikamotwani

[2018-01-20 11:19] Esha23 commented on #326
Not completed yet!!!

[2018-01-20 16:17] pradeepgangwar commented on #358
Pr is merged.

[2018-01-20 16:17] #358 closed

[2018-01-20 18:18] aswinzz commented on #326
Anyone who is interested in this issue?

[2018-01-20 18:20] aswinzz commented on #301
issue is open for others

[2018-01-20 18:28] arpitmisraw commented on #301
I'd like to do it.

[2018-01-20 18:29] gauthamzz commented on #301
ok

[2018-01-21 08:34] ashish4321 commented on #310
can i work on this?

[2018-01-21 10:26] shivhek25 commented on #255
Has this been fixed ? Because there's no gradient as such when I hover over the social icons. My repo is updated.

[2018-01-21 12:24] falconis commented on #348
![social](https://user-images.githubusercontent.com/30634978/35194127-f3bb7ede-fed3-11e7-9f29-cf174167f948.png)

[2018-01-21 12:25] falconis commented on #348
![social](https://user-images.githubusercontent.com/30634978/35194139-399c31a0-fed4-11e7-8895-85dac47ef3f7.png)

[2018-01-21 13:50] #282 closed

[2018-01-21 16:42] Anupam-dagar commented on #326
@Esha23 unassigned, this issue is now open

[2018-01-21 16:44] aswinzz opened #378 "Add paralax effect on opencode logo"
https://www.hackinthenorth.com/ we need something like this on opencode logo!

[2018-01-21 16:47] aswinzz opened #379 "add svg animation for opencode logo"
it should be like this : https://codepen.io/ananya-agrawal/pen/LeMqda -  in the loader.

[2018-01-21 16:50] aswinzz opened #380 "Change the color scheme of issues section"
![deepinscreenshot_20180121221825](https://user-images.githubusercontent.com/25057819/35196519-16f06e08-fef9-11e7-9405-6d25d0e8ccf5.png)
Remove the gradient from the issues section.
NOTE: the color scheme of only the issues section should be changed! .

[2018-01-21 17:03] hacker1x1x1 commented on #379
i would like to do this

[2018-01-21 17:40] mahek5 commented on #251
https://mahek5.github.io/

[2018-01-21 17:45] mahek5 commented on #313
https://mahek5.github.io/

[2018-01-21 17:57] aswinzz commented on #379
@hacker1x1x1  yeah

[2018-01-21 17:59] aswinzz commented on #379
@hacker1x1x1  replace the loader logo ok! not the landing page one

[2018-01-21 18:08] aayushjoglekar commented on #380
I would work on this.

[2018-01-21 18:28] aadixiiita commented on #378
I would like take this one ... Tell me Parralax effect on landing page logo ???

[2018-01-21 18:29] aayushjoglekar commented on #326
I would like to work on this. (y)

[2018-01-21 18:33] aswinzz commented on #378
@aadixiiita
 yeah landing page one

[2018-01-21 18:49] shivhek25 commented on #380
Should it appear similar to the background colour, i.e., white then ?

[2018-01-21 20:02] gauthamzz commented on #251
@shivhek25 its nice 😄 I liked it
@mahek5  👍

[2018-01-21 20:59] pradeepgangwar commented on #326
reassigned to @aayushjoglekar

[2018-01-22 09:04] #289 closed

[2018-01-22 13:18] swaager commented on #251
https://swaager.github.io/Myself/

[2018-01-22 13:54] swaager commented on #251
https://swaager.github.io/web/

[2018-01-22 20:44] gauthamzz commented on #378
@aswinzz people are making pr very different from what you have in mind, write descriptions and examples. See this pr

[2018-01-22 21:21] gauthamzz opened #395 "Add a view more button"
Add a new feild in json (In particpants and mentors ) called featured with binary values 1(true) or 0(false). At max 8 people(Use first 8 for now).

If a person is featured make him visible on the page when page is first loaded and there should be a view more button. When that button is clicked show everyone else in the list.

[2018-01-22 21:22] gauthamzz opened #396 "Decrease the spacing in the image"
![deepinscreenshot_select-area_20180123025117](https://user-images.githubusercontent.com/12110844/35245077-5d5ded26-ffe8-11e7-9b99-5111f7893180.png)

[2018-01-22 21:38] Ace-Bansal commented on #395
I've created a PR for the issue that I was working on. May I work on this now?

[2018-01-22 21:47] gauthamzz commented on #395
You can,if all are merged.

[2018-01-22 22:08] aayushjoglekar commented on #396
I would do this. (y)

[2018-01-22 22:09] gauthamzz commented on #396
sure

[2018-01-23 05:36] swaager commented on #136
Website made by the participants can be added in the backside of the participants card.

[2018-01-23 06:48] ashraysinha6069 commented on #395
can i work on it

[2018-01-23 08:28] gauthamzz commented on #395
Yeah

[2018-01-23 08:45] piyu007 commented on #251
piyu007.github.io

[2018-01-23 08:46] piyu007 commented on #251
https://piyu007.github.io/

[2018-01-23 09:25] Anupam-dagar opened #399 "issues section giving 403 forbidden error in console."
This makes no issue available on website.

[2018-01-23 10:01] shivhek25 commented on #399
Could you please explain what do you mean or maybe upload a screenshot ?

[2018-01-23 12:31] ashraysinha6069 commented on #395
do I have to create field manually for each mentor and participant in json file or is there another way

[2018-01-23 13:39] gauthamzz opened #400 "Update your score in scores.json"
Guys update your score in json/scores.json this should be done before 25 jan by everyone.

[2018-01-23 13:40] gauthamzz commented on #395
you need to, if you can figure out some other way,its fine with me.

[2018-01-23 14:50] Re42 commented on #31
https://www.facebook.com/yash.re.10/posts/1382939188502469
![image](https://user-images.githubusercontent.com/33805964/35282173-cbee2c28-007a-11e8-9563-f79553d044c5.png)

[2018-01-23 14:53] Anupam-dagar commented on #399
when you load the website, open console in developer tools, you will find github api request is giving error
![screenshot from 2018-01-23 20-22-01](https://user-images.githubusercontent.com/21174572/35282347-43cf348a-007b-11e8-819e-71093f0b6689.png)

[2018-01-23 14:55] Anupam-dagar opened #401 "fix 404 errors in js console"

[2018-01-23 15:23] ashish4321 commented on #401
can i work on it?

[2018-01-23 16:35] piyu007 commented on #23
https://resume.github.io/?piyu007

[2018-01-23 16:42] Anupam-dagar opened #405 "Fill the mid term evaluation form"
https://goo.gl/forms/j5kkXpi3i5t0lj0o1

[2018-01-23 16:42] Anupam-dagar commented on #401
@ashish4321 assigned

[2018-01-23 17:33] #356 closed

[2018-01-23 17:35] #396 closed

[2018-01-23 19:09] ashish4321 commented on #251
https://ashish4321.github.io/

[2018-01-23 19:31] shivhek25 commented on #355
![screen shot 2018-01-24 at 1 00 57 am](https://user-images.githubusercontent.com/24766191/35296456-16134370-00a2-11e8-9381-7f68e5ba94c6.png)
You are referring to these cards, aren't you ?

[2018-01-23 19:46] gauthamzz commented on #355
Yes

[2018-01-24 05:12] msatul1305 commented on #23
http://resume.github.io/?msatul1305

[2018-01-24 13:35] pradeepgangwar commented on #237
@aadixiiita still working?

[2018-01-24 13:36] pradeepgangwar commented on #326
Closing via #394

[2018-01-24 13:36] #326 closed

[2018-01-24 15:12] aswinzz opened #413 "Add a new page for scores"
Create a new page for scores and display the scores of each participant from the scores.json file and add a link in the navbar

[2018-01-24 15:14] #413 closed

[2018-01-24 15:17] aswinzz opened #414 "Show all contributions of the participants"
![deepinscreenshot_20180124204500](https://user-images.githubusercontent.com/25057819/35339784-77cedd36-0147-11e8-914b-3f4f63dec8ec.png)
When we click on the user a dropdown should come which displays the contribution and its link.

[2018-01-24 15:21] aayushjoglekar commented on #414
I will do this.

[2018-01-24 15:22] aswinzz opened #415 "Fix trailer"
![screenshot-2018-1-24 opencode 1](https://user-images.githubusercontent.com/25057819/35340117-4e0a1082-0148-11e8-945a-2ee7b7580a8b.png)
When we play the trailer, thumbnail comes up in the top right corner. remove this. And also fix the issue when video is stopped the audio still plays.

[2018-01-24 15:23] aswinzz commented on #414
sure @aayushjoglekar

[2018-01-24 15:24] aswinzz opened #416 "Remove the grey background color in the mentors section"
![deepinscreenshot_20180124205340](https://user-images.githubusercontent.com/25057819/35340297-bab2a618-0148-11e8-8943-78b001f3bea2.png)

[2018-01-24 15:28] Ace-Bansal commented on #415
I'd like to work on this

[2018-01-24 15:29] aswinzz commented on #415
@Ace-Bansal  assigned

[2018-01-24 15:30] #255 closed

[2018-01-24 15:31] aswinzz commented on #301
@arpitmisraw  status?

[2018-01-24 15:31] Tlazypanda commented on #416
I would be interested

[2018-01-24 15:31] aswinzz commented on #310
@ashish4321  status?

[2018-01-24 15:32] aswinzz commented on #355
@shivhek25  status?

[2018-01-24 15:33] aswinzz commented on #378
@aadixiiita status?

[2018-01-24 15:33] aswinzz commented on #380
@shivhek25  status?

[2018-01-24 15:42] arpitmisraw commented on #301
I haven't had the time to work on it much. But I'd still like to continue.

[2018-01-24 15:46] arpitmisraw commented on #301
I'm on it right now.

[2018-01-24 16:14] aswinzz commented on #416
@Tlazypanda  assigned

[2018-01-24 16:14] arpitmisraw commented on #136
The trailer still won't stop playing after it's closed. Also some weird youtube link appears on the top right when the trailer is played.

[2018-01-24 17:09] ashish4321 commented on #310
pls reassign it..i could not implement lazy loading

[2018-01-24 17:33] shivhek25 commented on #380
I have already created a PR. It has been checked recently and I am waiting for approval. @aswinzz

[2018-01-24 17:33] shivhek25 commented on #355
Working on it. @aswinzz

[2018-01-24 17:38] shivhek25 commented on #416
I would like to work on this if @Tlazypanda drops it later.

[2018-01-24 17:40] aadixiiita commented on #378
I m not getting exact way of doing this ... Pass this to someone else ...

[2018-01-24 18:06] #400 closed

[2018-01-24 18:27] shivhek25 commented on #136
After a card is clicked on, it shows the information and the links for a second (i.e. while flipping) and then shows the original image in the card and the text in a mirrored fashion.
Here, look at the card next to that of the mentor "Harshit jain".

![screen shot 2018-01-24 at 11 56 04 pm](https://user-images.githubusercontent.com/24766191/35349870-2bd052f0-0162-11e8-974b-342534e46818.png)

[2018-01-24 18:47] Re42 commented on #136
![screenshot_20180124-154521](https://user-images.githubusercontent.com/33805964/35350565-5318708e-0164-11e8-9f03-e4352c574e25.jpg)

Alignment of fb on mobile

[2018-01-24 18:49] Re42 commented on #136
![screenshot_20180124-154513](https://user-images.githubusercontent.com/33805964/35350884-49c2bf0c-0165-11e8-96b9-83efe1dd9768.jpg)
alignment of fb tab on mobile previous comment can also be example of this

[2018-01-24 18:54] aadixiiita commented on #237
No .. i am unable to give variable in JSON file ..

[2018-01-24 18:57] pradeepgangwar commented on #237
Looks like a tough issue i am increasing points

[2018-01-24 21:36] gauthamzz opened #423 "Fix scores.json file"

[2018-01-24 21:55] gauthamzz opened #424 "Add 404 page"

[2018-01-24 22:32] Tlazypanda commented on #423
I would be interested

[2018-01-24 22:32] Tlazypanda commented on #424
I would be interested

[2018-01-24 22:33] gauthamzz commented on #424
cool

[2018-01-24 22:33] gauthamzz commented on #423
sure

[2018-01-25 04:09] arpitmisraw commented on #205
I'd like to do this.

[2018-01-25 05:25] hacker1x1x1 commented on #424
can i do this?

[2018-01-25 05:55] shivhek25 commented on #423
What does that even mean ?

[2018-01-25 06:01] gauthamzz commented on #423
See number of people’s scores added and see the ones which are visible . Someone added bad formatting and data is not coming

[2018-01-25 06:05] gauthamzz commented on #424
No it’s already assigned to @tlazypanda

[2018-01-25 06:09] hacker1x1x1 commented on #348
https://user-images.githubusercontent.com/34509429/35372226-9555550a-014d-11e8-9a34-fda56c95a152.png

[2018-01-25 06:11] hacker1x1x1 commented on #348
![35372226-9555550a-014d-11e8-9a34-fda56c95a152](https://user-images.githubusercontent.com/34509429/35373452-4b99d6f6-0153-11e8-885c-f25c3b835cfa.png)

[2018-01-25 06:53] Jigar3 commented on #423
I think everyone should first verify their updated scores.json using any online Linting tool.
Maybe like https://jsonlint.com
So that bad formatting can be avoided

[2018-01-25 06:54] gauthamzz commented on #423
Yeah , I’ll add a continuous integration for that

[2018-01-25 08:16] AK-007 commented on #237
Can I try this issue?

[2018-01-25 08:22] pradeepgangwar commented on #237
yes go ahead.

On Jan 25, 2018 1:46 PM, "Ayush Gupta" <notifications@github.com> wrote:

[2018-01-25 09:30] shivhek25 commented on #378
I would like to work on this.

[2018-01-25 09:42] shivhek25 commented on #423
@gauthamzz Yes, I found the problem. But another PR of mine is yet to be merged so if I commit the changes right now, that commit gets added automatically to that particular PR, right ? How do I create a separate PR while the other PR is open as well ?

[2018-01-25 09:57] gauthamzz commented on #378
ok

[2018-01-25 09:59] gauthamzz commented on #423
use branches
git checkout -b somebranch
then git push somebranch master instead.

[2018-01-25 10:12] shivhek25 commented on #181
![screen shot 2018-01-25 at 3 41 26 pm](https://user-images.githubusercontent.com/24766191/35382764-427ae9fa-01e6-11e8-9e86-365c0014054c.png)

[2018-01-25 11:38] Divy123 commented on #399
I want to work on this issue

[2018-01-25 14:52] Jigar3 commented on #23
[My Resume](http://resume.github.io/?Jigar3

[2018-01-25 17:45] #360 closed

[2018-01-25 19:24] Anupam-dagar opened #433 "fix scores.json cross origin request"
since we are now using a http domain, cross origin request to json files can't be sent, on opening leaderboard, no scores are shown, to reproduce the error just see console in developer tools.

[2018-01-25 20:17] aswanthkoleri opened #435 "Fix the Mentors,Participants and Games section ASAP"
The above mentioned sections are not loading and needs to fixed urgently.You can check the previous PR's to know what is the problem.

[2018-01-25 20:20] Jigar3 commented on #433
I would like to take this issue

[2018-01-25 20:27] aswanthkoleri opened #436 "Add scrollspy for Issues section too"

[2018-01-25 20:27] aswanthkoleri commented on #433
@Jigar3  You are assigned

[2018-01-25 20:29] Jigar3 commented on #433
Any hints as how I could rectify this

[2018-01-25 21:51] #416 closed

[2018-01-26 06:15] shivhek25 commented on #436
what is a scrollspy ?

[2018-01-26 07:10] hacker1x1x1 commented on #435
i think there was some css style inside the index.html file, which now has been removed!
or... when this PR was merged... it had the same problem in live link- https://github.com/opencode18/OpenCode-Collaborative/pull/422

[2018-01-26 09:06] shivhek25 commented on #436
I would like to work on this.

[2018-01-26 10:08] Jigar3 commented on #433
In scores.json, the scores property is repeated twice causing the problem i guess

[2018-01-26 10:12] Anupam-dagar commented on #433
Since the new domain uses a http protocol instead of https,we can't request
a file directly.

On Jan 26, 2018 15:38, "Jigar Chavada" <notifications@github.com> wrote:

[2018-01-26 10:15] Jigar3 commented on #433
https://jigar3.github.io/OpenCode-Collaborative/leaderboard
is this correct?

[2018-01-26 10:29] Jigar3 commented on #435
i would like to take this issue

[2018-01-26 10:29] Jigar3 commented on #435
https://jigar3.github.io/OpenCode-Collaborative/
is this correct?

[2018-01-26 13:44] jayantsaraf commented on #424
I would like to work on this.

[2018-01-26 15:08] shivhek25 commented on #436
@aswanthkoleri Kindly check the PR.

[2018-01-26 15:11] shivhek25 commented on #380
Kindly check the updated PR. @aswinzz @pradeepgangwar @gauthamzz @Anupam-dagar

[2018-01-27 13:35] gauthamzz commented on #175
Submit your games in the json file : games from now on

[2018-01-27 16:23] hacker1x1x1 commented on #435
Also, the project section needs to be fixed!
@aswanthkoleri

[2018-01-27 16:40] #436 closed

[2018-01-27 16:43] Divy123 commented on #251
https://divy123.github.io/Portfolio/

[2018-01-27 16:48] gauthamzz opened #448 "Make a project of your own"
This issue will be part of your final evaluation and this will be considered as one of the deciding factors of your winning of opencode.

Create a project using any language as you wish.

You can make anything from hacks to small libraries. Don't forget to add opencode badge to your readme file. Readme should be written in a proper way as well. On how to install and use.

Comment the link.

Make s

[2018-01-28 04:52] darshan934 commented on #415
hi, since there has been no reponse from @Ace-Bansal can I work on this?

[2018-01-28 05:30] Jigar3 commented on #433
@gauthamzz please can you have a look

[2018-01-28 05:50] gauthamzz commented on #433
yeah,send pr

[2018-01-28 05:51] Jigar3 commented on #435
@gauthamzz  also check out this please

[2018-01-28 13:34] jayantsaraf commented on #423
i would like to work on this issue

[2018-01-28 15:33] gauthamzz commented on #423
It’s already been assigned

[2018-01-28 20:30] ashutosh97 commented on #1
Please review https://github.com/opencode18/OpenCode-Collaborative/pull/452

[2018-01-29 09:16] likhithamannam commented on #23
https://resume.github.io/?likhithamannam

[2018-01-29 12:03] #435 closed

[2018-01-30 12:51] shivhek25 commented on #380
Kindly check the updated PR. @aswinzz @pradeepgangwar @gauthamzz @Anupam-dagar

[2018-01-30 12:54] shivhek25 commented on #448
How do we add a badge to a readme file ? Also, can it be a project that I have developed recently but before opencode started ?

[2018-01-30 15:53] #379 closed

[2018-01-30 16:21] aashutoshrathi commented on #448
We just need to add a badge to our repo and share the link, right?

[2018-01-30 18:14] aashutoshrathi commented on #448
What about the ownership of that project? I mean we can still showcase it as our project, right?

[2018-01-30 20:31] gauthamzz commented on #448
It is your own project, you will make in your own repo only. we just want to promote open source development.

[2018-01-30 21:38] gauthamzz opened #454 "Make cards for participant blogs"

[2018-01-30 21:39] gauthamzz opened #455 "write a blog post explaining your experince on Opencode"
Try using medium or your own blog. Anything is fine.

[2018-01-31 04:43] hacker1x1x1 commented on #454
I can take this up!

[2018-01-31 06:56] gauthamzz commented on #454
Ok

[2018-01-31 07:20] aswinzz opened #456 "Make a section for blog"
we need to have a section for blogs in which participants blog will be listed in cards

[2018-01-31 07:26] falconis commented on #456
I'd like to take this.

[2018-01-31 07:33] aswinzz commented on #456
@falconis  assigned

[2018-01-31 07:44] hacker1x1x1 commented on #454
The cards will have the photo of contestant in the front and his blog written on the back? Or something else?(kindly explain what do i put on back of the card)

[2018-01-31 07:47] gauthamzz commented on #454
no , just make a folder for particapnt to add his images for blogs.

[2018-01-31 08:26] shivhek25 commented on #380
Kindly check @gauthamzz

[2018-01-31 11:32] hacker1x1x1 commented on #454
Okay

[2018-01-31 11:33] hacker1x1x1 commented on #454
Is issue #456 different?

[2018-01-31 11:36] hacker1x1x1 commented on #456
But issue #454 is already assigned?
@aswinzz

[2018-01-31 13:15] gauthamzz commented on #456
Duplicate issue

[2018-01-31 13:15] #456 closed

[2018-02-01 08:20] shivhek25 commented on #380
@gauthamzz @aswinzz @pradeepgangwar @Anupam-dagar Could any of you kindly check the updated PR please ?

[2018-02-01 08:44] shivhek25 commented on #455
https://blogoholicweb.wordpress.com/2018/02/01/opencode-2018-experience/

[2018-02-01 09:01] shivhek25 commented on #448
https://github.com/shivhek25/Online-Exam-System

[2018-02-01 11:09] gauthamzz commented on #448
It’s too simple and you made it a month ago

[2018-02-01 11:29] gauthamzz commented on #455
expain in detail few issues you solved and how you solved.
name the major issues you solved.
explain more about what you got to learn in detail, all of this is vauge.

[2018-02-01 11:30] #380 closed

[2018-02-01 13:36] shivhek25 commented on #448
That isn't allowed ? @gauthamzz

[2018-02-01 13:50] gauthamzz commented on #448
You should make now. That’s he point of issue . You make after issue is made

[2018-02-01 14:25] shivhek25 commented on #455
Made the required changes. Thank you for the suggestions. Could you kindly review the blog now ? @gauthamzz

[2018-02-01 15:10] arpitmisraw commented on #395
I'd like to work on it.

[2018-02-01 15:11] arpitmisraw commented on #395
If no one else is working, that is.

[2018-02-01 19:07] rahulkumaran commented on #448
how many points is this for?

[2018-02-02 01:02] gauthamzz commented on #448
@rahulkumaran Atleast 50. If we like your project we can award you more points and they can go upto a very large number.

[2018-02-02 01:06] gauthamzz commented on #395
yeah siure

[2018-02-02 01:07] gauthamzz commented on #455
@shivhek25 LGTM 👍 Its approved.
Share on social someone should see it 😄

[2018-02-02 04:21] aashutoshrathi commented on #448
Do [this](https://github.com/aashutoshrathi/Insta-Downloader-Extension) qualify?

[2018-02-02 06:10] aswinzz commented on #205
@arpitmisraw  are you working on this?

[2018-02-02 06:10] aswinzz commented on #237
@AK-007  status?

[2018-02-02 06:12] aswinzz commented on #301
@arpitmisraw  status?

[2018-02-02 06:12] aswinzz commented on #310
Open for others!

[2018-02-02 06:15] aswinzz commented on #355
@shivhek25 are you working on it?

[2018-02-02 06:17] aswinzz commented on #395
@arpitmisraw please complete other issues that you have been assigned

[2018-02-02 06:17] aswinzz commented on #415
@darshan934  sure

[2018-02-02 07:52] ashish4321 commented on #355
i would like to work on it if it is reassigned

[2018-02-02 08:54] Ace-Bansal commented on #455
[Here you go] (https://medium.com/@ekanshbansal/my-experience-with-opencode18-5271f9d10d44)

[2018-02-02 10:13] gauthamzz commented on #455
Add some images and add links to the issues you solved (some of them) and how you solved them. Other than that this looks great.

[2018-02-02 10:57] shivhek25 commented on #455
I have already shared it on Facebook. The bog could be shared on the opencode 2018 fb page if you people like. @gauthamzz

[2018-02-02 10:58] shivhek25 commented on #423
Has this issue been solved ? @gauthamzz

[2018-02-02 10:59] shivhek25 commented on #359
Has this issue been solved ? @pradeepgangwar And what does 'reading progress bar' mean ?

[2018-02-02 11:01] shivhek25 commented on #301
Has this issue been solved  ? @aswinzz  I would like to work on it if it's reassigned.

[2018-02-02 11:52] arpitmisraw commented on #301
It's okay if @shivhek25 works on it, @aswinzz .

[2018-02-02 14:05] arpitmisraw commented on #455
Here's mine:
https://medium.com/@iit2017088/opencode-and-how-it-helped-me-be-a-developer-43b9213f8884

[2018-02-02 15:40] pradeepgangwar commented on #359
No the PR that referenced it is closed. So you can work on this.

[2018-02-02 17:38] shivhek25 commented on #359
Okay but what is exactly required ?

[2018-02-02 20:40] pradeepgangwar commented on #359
@shivhek25 As you scroll down the site there should be a progress bar that tracks how much down you have scrolled. It should be below nav bar and fills fully when we have scrolled to bottom. https://blog.ghost.org/zapier-x-ghost/ See this link.

[2018-02-03 06:00] #423 closed

[2018-02-03 06:01] gauthamzz commented on #448
@aashutoshrathi It was made a month ago, so no .

[2018-02-03 06:12] shivhek25 commented on #301
@gauthamzz Could you please elaborate more on the issue ? I find the colours to be uniform throughout the document.

[2018-02-03 06:39] shivhek25 commented on #378
Please reassign. I don't understand what has to be done.

[2018-02-03 06:58] shivhek25 commented on #415
Can I work on this if it is reassigned  ? @aswinzz

[2018-02-03 09:43] gauthamzz commented on #378
See th code. It’s simple. Add parallax.js in the bottom.

Take the image and split into different components. Add the x of each in different value . So that when the mouse moves each moves in different speed. See the same code in hack in the north repo.

[2018-02-03 09:46] shivhek25 commented on #378
Okay, I will try again. @gauthamzz

[2018-02-03 09:48] gauthamzz commented on #378
see https://github.com/HackInTheNorth/hackinthenorth.github.io/blob/master/index.html#L87
and https://github.com/HackInTheNorth/hackinthenorth.github.io/blob/master/index.html#L530

[2018-02-03 09:48] shivhek25 commented on #378
The thing is that they have different components in the image. The gears, the mountain, etc. but opencode's logo is one whole image.

[2018-02-03 09:51] gauthamzz commented on #378
yes, use an image editor like gimp or photoshop and cut into small induvijual components, a web dev should know a bit of image editing 😄

[2018-02-03 09:55] shivhek25 commented on #378
I have never used photoshop or gimp and it won't be possible right now to learn those softwares from scratch. Could we not just move this whole image when the cursor is hovered over it just like in hackinthenorth webpage ?

[2018-02-03 10:01] gauthamzz commented on #378
wait ill get that done for you 😄

[2018-02-03 10:02] shivhek25 commented on #378
Thank you. That would be quite helpful. :)

[2018-02-03 11:38] aashutoshrathi commented on #448
Its core work was done during the period of OpenCode.

[2018-02-03 11:56] gauthamzz commented on #448
Lemme review that for you and consider it, we will let you know if we can approve it or not in a couple of days.Since your project requires a significant amount of difficulty,if we feel like you did a lot of work on it. We could consider it. I'll let you know soon. @aashutoshrathi . Meanwhile you need to add opencode badge in your readme.

[2018-02-03 14:53] msatul1305 commented on #181
![screenshot from 2018-02-03 20-01-52](https://user-images.githubusercontent.com/24864738/35768327-1b255b7e-0920-11e8-8c14-db6b675eef4a.png)

[2018-02-04 04:46] Ace-Bansal commented on #455
@gauthamzz I've made the changes. Please have a look now.

[2018-02-04 10:27] rahulkumaran commented on #455
This is my blog post! Please have a look :smile:
https://rahulkumaran.github.io/opencode18.html

[2018-02-04 10:32] rahulkumaran commented on #271
can we make a chatbot using python and run it on telegram for this issue?

[2018-02-04 10:35] gauthamzz commented on #455
@ace-Bansal looks good. @arpitmisraw you need to write more see what I told others

[2018-02-04 10:37] gauthamzz commented on #271
Yeah anything you wish is fine

[2018-02-04 10:40] rahulkumaran commented on #271
@gauthamzz should it only be a conversation bot or can it also be a bot that performs some functions? like finding cricket scores and all?

[2018-02-04 15:32] gauthamzz commented on #271
yeah anything is fine.

[2018-02-04 16:19] rahulkumaran commented on #181
![zsh](https://user-images.githubusercontent.com/26206171/35779574-3d501de4-09f5-11e8-827a-8653b6fdee9d.png)

[2018-02-04 18:13] #359 closed

[2018-02-04 18:22] shivhek25 commented on #301
@gauthamzz @aswinzz ?

[2018-02-05 21:10] arpitmisraw commented on #455
@gauthamzz I updated it. Please review.

[2018-02-05 21:23] gauthamzz commented on #455
Both looks fine Rahul and arpit

[2018-02-06 21:17] Ace-Bansal commented on #245
Here's my [awesome list](https://github.com/Ace-Bansal/Awesome-List-Top-5-Songs-Since-2010)

[2018-02-07 05:50] Jigar3 commented on #455
https://medium.com/@chavada.jigar.3/my-experience-of-opencode18-4433b6eaf823
@gauthamzz  please review it

[2018-02-07 06:44] gauthamzz commented on #455
Can you remove the first year part in the beginning :smile: everything else looks fine.

[2018-02-07 07:31] Jigar3 commented on #455
Done @gauthamzz

[2018-02-07 09:26] gauthamzz commented on #454
Ian this done , we need it done asap

[2018-02-07 15:08] hacker1x1x1 commented on #454
My laptop is at repair😔... Hard drive became corrupt!
Anyone else can take up the issue!

[2018-02-07 15:10] Ace-Bansal commented on #454
I'll do it

[2018-02-07 15:21] gauthamzz commented on #454
Do this fast. Add the blogs in the other issue.

[2018-02-07 15:23] #433 closed

[2018-02-07 15:24] #424 closed

[2018-02-07 15:24] #415 closed

[2018-02-07 15:24] gauthamzz commented on #414
Is this done :/

[2018-02-07 15:25] #405 closed

[2018-02-07 15:25] #401 closed

[2018-02-07 15:26] #310 closed

[2018-02-07 15:26] #399 closed

[2018-02-07 15:26] #395 closed

[2018-02-07 15:27] #205 closed

[2018-02-07 15:27] #355 closed

[2018-02-07 15:28] gauthamzz commented on #378
Closing since event is almost over

[2018-02-07 15:28] #378 closed

[2018-02-07 15:28] #301 closed

[2018-02-07 15:29] #237 closed

[2018-02-07 15:33] gauthamzz opened #460 "Fix grids for cards"
The cards don’t look in center fix. ASAP

[2018-02-07 15:37] falconis commented on #460
On it

[2018-02-07 19:51] rahulkumaran commented on #271
@gauthamzz I've created a chatbot on telegram called "UtlyzMeBot"
You can test it by typing the name of the bot(mentioned above and execute the commands it gives as of now)
Also, if you use the fb functionality of the bot, the first time it might not let you access! but your account will get a notif saying suspicious login activity. If you click on "this was me", and try running the fb command aga

[2018-02-08 03:10] gauthamzz commented on #271
@aswinzz check this

[2018-02-08 03:10] gauthamzz commented on #460
Cool

[2018-02-08 03:12] #460 closed

[2018-02-08 14:21] aayushjoglekar commented on #448
@gauthamzz

Squash :
A Google Chrome Extension

An emergency panic button which closes all the tabs in current window, saves the URLs which can be restored later.

https://chrome.google.com/webstore/detail/squash/dopcekjfmhpiigjmijblfpklmicephec

![image](https://user-images.githubusercontent.com/28949397/35977488-3d494de0-0d09-11e8-828c-e644c5ea7e25.png)

Github Repo :

https://github.com/aayushj

[2018-02-08 16:22] aadixiiita commented on #455
https://medium.com/@vinaycanttake/my-journey-with-opencode18-3f0d67037edc
@gauthamzz  review it

[2018-02-08 16:32] aayushjoglekar commented on #414
@gauthamzz Sorry for delay, I will make a PR ASAP.

[2018-02-08 17:10] falconis commented on #455
https://medium.com/@panivishal17/my-journey-with-opencode18-5336ea8c9f07
Please review @gauthamzz.

[2018-02-08 17:42] gauthamzz commented on #448
Looks good

[2018-02-08 17:43] gauthamzz commented on #414
Ok

[2018-02-08 17:45] #454 closed

[2018-02-08 17:47] gauthamzz opened #464 "Fix all json files"

[2018-02-08 18:01] aayushjoglekar commented on #448
@gauthamzz Any suggestions?

[2018-02-08 18:31] Ace-Bansal commented on #464
I'll do it... I basically have to check the formatting right?

[2018-02-08 19:38] AK-007 commented on #448
@gauthamzz
https://github.com/AK-007/SideJump

[2018-02-09 04:37] Ace-Bansal commented on #464
@gauthamzz I used JSON Lint. All the files are valid.

[2018-02-09 12:31] Tlazypanda commented on #455
https://medium.com/@mishrasneha.bb/opencode-how-i-learnt-git-and-moved-into-the-exciting-world-of-opensource-9de41e546569
Kindly review @gauthamzz

[2018-02-09 12:43] rahulkumaran commented on #448
@gauthamzz , this is my project which I've been working on and I will continue to work on for a while. This is a telegram bot which has been deployed to the server and works right now too. Please have a look at this project :smile:
https://github.com/rahulkumaran/UtlyzMeBot

[2018-02-09 17:07] aswinzz opened #468 "update your scores in scores.json"
those who does not update the scores will not be eligible for final judgement.

[2018-02-09 17:09] #1 closed

[2018-02-09 17:15] gauthamzz commented on #455
All looks great

[2018-02-09 17:16] gauthamzz commented on #464
Huh my Mistake then , I guess everything coming now

[2018-02-09 17:16] #464 closed

[2018-02-09 18:19] falconis commented on #138
![like](https://user-images.githubusercontent.com/30634978/36042983-c7f518da-0df3-11e8-8b2f-d584b34c403d.png)

[2018-02-09 18:23] falconis commented on #31
![toppling](https://user-images.githubusercontent.com/30634978/36043167-5f749ece-0df4-11e8-8507-1af4da3f5958.png)

[2018-02-09 18:28] shivhek25 commented on #468
Could you help me out with something ? I have 2 PRs open in 2 repos (OpenNews and CodeStash) for quite a long time. Could you do something about it ? The mentors haven't been replying. @aswinzz

[2018-02-09 19:57] brain-sick commented on #468
i was just creating my files half an hour ago, please consider this pull request

[2018-02-09 20:09] Anupam-dagar commented on #468
@shivhek25 please provide link to your PR's :smile: I'll review

[2018-02-09 20:18] AK-007 commented on #455
@gauthamzz
https://medium.com/@ayushkgupta007/opencode18-an-experience-706f417481a5

[2018-02-09 20:21] AK-007 commented on #468
@Anupam-dagar Plz review https://github.com/opencode18/CodeStash/pull/186

[2018-02-09 20:23] Anupam-dagar commented on #468
i have asked @aswinzz to review it :smile:

[2018-02-09 20:38] shivhek25 commented on #468
@Anupam-dagar Please review https://github.com/opencode18/CodeStash/pull/190 and https://github.com/opencode18/OpenNews/pull/74

[2018-02-10 06:04] ananya-agrawal commented on #455
https://github.com/opencode18/OpenCode-Collaborative/issues/361

[2018-02-10 06:06] ananya-agrawal commented on #455
https://medium.com/@ananyaagrawal125/experience-with-opencode-18-4df353b93e95

[2018-02-10 06:06] ananya-agrawal commented on #455
https://medium.com/@ananyaagrawal125/experience-with-opencode-18-4df353b93e95

[2018-02-10 06:31] Ace-Bansal commented on #313
[http://ekanshbansal.me/](http://ekanshbansal.me/)

[2018-02-10 07:07] falconis commented on #245
This is my awesome [list](https://github.com/falconis/Awesome-List-Top-Novels), listing top 3 books on goodreads of various categories.

[2018-02-10 08:15] #468 closed

[2018-02-10 08:21] Anupam-dagar opened #482 "update blog section"
blog section on website don't have all the blogs written by participants.Update it.

[2018-02-10 08:21] Anupam-dagar opened #483 "no entry for blogs in nav bar"
add a entry for participants blog in nav bar

[2018-02-10 08:21] Ace-Bansal commented on #482
I'll do it

[2018-02-10 08:29] Anupam-dagar opened #484 "[ANNOUNCEMENT] Last Day of OpenCode'18"
Only the PR's opened before 23:59 today i.e 10th Feb 2018 will be reviewed.So please update your scores and solve any pending issues before that.Also, it's important to have a blog post written to be considered for final evaluation.Failing to do that will have a severe penalty.

[2018-02-10 08:30] AK-007 commented on #483
I'll do it.

[2018-02-10 08:37] Anupam-dagar commented on #482
@Ace-Bansal assigned

[2018-02-10 08:41] aadixiiita commented on #448
@gauthamzz ,Certificate-Generator is a simple tool for creating a Certificate for an event.Currently It is set for OpenCode'18 event.You just have to simply fill the data required and click on GENERATE . I will improve it by adding more Themes, Designs and Features in This Certificate Generator.It is Made using HTML,CSS and JS.

Link -: http://aadishukla.me/Certificate-Generator/

[2018-02-10 09:26] Anupam-dagar commented on #448
@aadixiiita it still needs improvement, maybe you can add a pdf download format.

[2018-02-10 09:27] Anupam-dagar commented on #448
@rahulkumaran @AK-007 going by the readme, it looks good but for the complete review you need to wait a little

[2018-02-10 09:31] Anupam-dagar opened #489 "[URGENT] add this to your stories"
It's the final day for OpenCode'18, we have all the goodies with us.Please use the below pic as your whatsapp, facebook, instagram stories to promote OpenCode'18.Let spread the word.
Let it stay for 24 hrs, 30 points for each platform.Post screenshot here.
Removal of the story after posting its screenshot here will result in a penalty.
Use the image provided below.In the caption you must atleast i

[2018-02-10 09:36] #484 closed

[2018-02-10 09:44] yash-agarwal17 commented on #489
#489 Added to story

![screenshot_2018-02-10-15-11-40-82](https://user-images.githubusercontent.com/34649409/36060715-ee276b62-0e74-11e8-86cd-c4b5a18637c5.png)

[2018-02-10 09:48] gauthamzz commented on #448
The other two of @ak-007 and @rahulkumaran is approved.

[2018-02-10 09:54] gauthamzz commented on #245
Both approved.
Add opencode badge in readme.

[2018-02-10 09:54] aadixiiita commented on #448
Okk .. I'll improve it ..☺☺

[2018-02-10 09:57] gauthamzz commented on #455
@ananya-Agrawal it’s too tiny. Mention how you solved some issues or challenges you faced

[2018-02-10 09:58] gauthamzz commented on #455
@ak-007 looks great

[2018-02-10 10:00] #483 closed

[2018-02-10 10:05] AK-007 commented on #489
![screenshot_2018-02-10-15-33-40-951_com whatsapp](https://user-images.githubusercontent.com/26346816/36060868-e275b168-0e77-11e8-9607-ee40a0432ebf.png)

[2018-02-10 10:05] Anupam-dagar opened #490 "link username to github profile in leaderboard."

[2018-02-10 10:09] Anupam-dagar opened #491 "leaderboard sorting error"
leaderboard is not in ascending order, there must be some error in script.Current error can be seen with vishal pani's score, he is with 1370 points but is ranked 18.

[2018-02-10 10:11] aadixiiita commented on #489
![screenshot_20180210-153358](https://user-images.githubusercontent.com/34688457/36060933-ccd2a964-0e78-11e8-9d4c-322535ec86df.png)

[2018-02-10 10:13] Ace-Bansal commented on #489
Fb, insta and whatsapp 😛😛😛
![screenshot_2018-02-10-15-33-31-050_com instagram android](https://user-images.githubusercontent.com/34866483/36060942-ecbb2904-0e78-11e8-867f-a55e18710d6f.png)
![screenshot_2018-02-10-15-37-17-002_com facebook orca](https://user-images.githubusercontent.com/34866483/36060943-ed0a8a3a-0e78-11e8-84c4-cdd3483e00b6.png)
![screenshot_2018-02-10-15-29-25-595_com whatsapp](ht

[2018-02-10 10:16] aadixiiita commented on #489
![screenshot_20180210-154414](https://user-images.githubusercontent.com/34688457/36060985-714e0f4c-0e79-11e8-9a5c-cb2a9de656aa.png)

[2018-02-10 10:19] Jigar3 commented on #491
i would like to do it

[2018-02-10 10:19] Jigar3 commented on #490
i would like to do it

[2018-02-10 10:32] #482 closed

[2018-02-10 10:33] aadixiiita commented on #489
![screenshot_20180210-160215](https://user-images.githubusercontent.com/34688457/36061129-e306c578-0e7b-11e8-9a00-fc56d8636fea.png)

[2018-02-10 10:34] Anupam-dagar commented on #490
@Jigar3 assigned

[2018-02-10 10:35] Anupam-dagar commented on #491
please do the previous assigned issue first

[2018-02-10 10:56] falconis commented on #489
![screenshot_20180210-162053](https://user-images.githubusercontent.com/30634978/36061332-cfd69412-0e7e-11e8-9cbc-4790ed719ee1.png)
![screenshot_20180210-161930](https://user-images.githubusercontent.com/30634978/36061342-ee5f596e-0e7e-11e8-82b8-848b181b84ba.png)
![screenshot_20180210-161632](https://user-images.githubusercontent.com/30634978/36061348-fea2ef02-0e7e-11e8-9390-638383c43766.png)

[2018-02-10 11:02] arpitmisraw commented on #489
![fbstory](https://user-images.githubusercontent.com/32339738/36061377-5b421c4c-0e7f-11e8-9a08-b7c51c4d2c19.png)
![instastory](https://user-images.githubusercontent.com/32339738/36061403-b20a81ae-0e7f-11e8-8ff6-1ccb03966580.png)
![whatsapp](https://user-images.githubusercontent.com/32339738/36061414-eaddfa88-0e7f-11e8-8a04-ee81e4aa0026.png)

[2018-02-10 11:28] ananya-agrawal commented on #455
@gauthamzz fine or should i add more?

[2018-02-10 11:28] gauthamzz commented on #455
ADD more . Add things you made some pics or something

[2018-02-10 11:46] aadixiiita commented on #245
Here;s my awesome list of Best PC game [list](https://github.com/aadixiiita/Awesome-list-best-PC-game/blob/master/README.md)

[2018-02-10 11:51] gauthamzz commented on #245
Very less entries.
How do you decide which is the best game.

[2018-02-10 12:05] Jigar3 commented on #491
please give this issue to someone else :p

[2018-02-10 12:27] swaager commented on #489
![ee](https://user-images.githubusercontent.com/29673845/36061965-ebb7bd62-0e30-11e8-90d2-baffe944a38c.png)
![fb](https://user-images.githubusercontent.com/29673845/36062026-10b893f6-0e32-11e8-8c7b-2e4d4386ce73.png)
![ins](https://user-images.githubusercontent.com/29673845/36062123-dc2c18e0-0e33-11e8-944a-eed4c1e6af62.png)

[2018-02-10 12:29] Anupam-dagar commented on #491
it wasn't assigned to you :stuck_out_tongue:

[2018-02-10 12:34] ananya-agrawal commented on #455
@gauthamzz now?

[2018-02-10 12:34] ananya-agrawal commented on #489
![screenshot_2018-02-10-18-02-29-451_com facebook katana](https://user-images.githubusercontent.com/33188930/36062171-b3f44b3c-0e8c-11e8-8f63-bb291f0fed9a.png)
![screenshot_2018-02-10-18-02-39-041_com whatsapp](https://user-images.githubusercontent.com/33188930/36062172-b4562dfc-0e8c-11e8-82b0-f1c3378c54b6.png)
![screenshot_2018-02-10-18-02-20-514_com instagram android](https://user-images.githubu

[2018-02-10 12:44] aayushjoglekar commented on #455
@Anupam-dagar

https://medium.com/@aayushjoglekar/my-experience-of-opencode18-7df78e77a01b

[2018-02-10 12:46] ananya-agrawal commented on #313
http://ananyaa.me/

[2018-02-10 13:01] aadixiiita commented on #245
@gauthamzz From the IMDB rating .

[2018-02-10 13:06] aayushjoglekar commented on #489
![whatsapp image 2018-02-10 at 6 33 04 pm](https://user-images.githubusercontent.com/28949397/36062372-472529ea-0e91-11e8-9f44-c84317ce6092.jpeg)
![whatsapp image 2018-02-10 at 6 35 31 pm](https://user-images.githubusercontent.com/28949397/36062370-3e8c5ec0-0e91-11e8-9596-09e779ebf744.jpeg)

[2018-02-10 13:18] shivhek25 commented on #489
![whatsapp image 2018-02-10 at 6 46 58 pm-2](https://user-images.githubusercontent.com/24766191/36062449-e9e325e6-0e92-11e8-97fd-cf8471ee09e9.jpeg)
![whatsapp image 2018-02-10 at 6 46 58 pm](https://user-images.githubusercontent.com/24766191/36062450-ea1f97ce-0e92-11e8-96d6-ce0c5afc9420.jpeg)

[2018-02-10 14:13] swaager commented on #313
http://swaager.me/

[2018-02-10 15:09] gauthamzz commented on #455
This issue is compulsory for anyone who wants to apply for final prizes. You won’t be in top 5 if this is not done . You can submit this within next 3-4 days.

@anupam-Dagar

[2018-02-10 15:11] gauthamzz commented on #455
All the blogs above are approved. Do share on social medias.

[2018-02-10 15:18] gauthamzz commented on #245
Game using IMDb 😐 add top 10 of each year based on steam or something

[2018-02-10 15:24] #490 closed

[2018-02-10 15:34] aayushjoglekar commented on #181
![image](https://user-images.githubusercontent.com/28949397/36063672-fdc42796-0ea5-11e8-97f2-62861cea73f8.png)
Verified using echo $SHELL

[2018-02-10 16:01] aswinzz opened #494 "Fix loader"
the loader goes off before the site is fully loaded.Fix it

[2018-02-10 16:02] aayushjoglekar commented on #494
I can do this. I have to just make a PR for another issue.

[2018-02-10 16:04] aswinzz commented on #494
okay @aayushjoglekar  you can do it

[2018-02-10 16:06] aswinzz opened #495 "List contributions of each participant"
in the leaderboards add a dropdown for every participant to list their contribution.
for reference see last years collaborative website

[2018-02-10 16:09] #495 closed

[2018-02-10 16:36] ashish4321 commented on #489
![screenshot_20180210-215913](https://user-images.githubusercontent.com/25305613/36064275-9816a56e-0eae-11e8-99c0-00e0dcfe6dc5.png)
![screenshot_20180210-220124](https://user-images.githubusercontent.com/25305613/36064276-9a900cb8-0eae-11e8-9878-bfb4638916c6.png)
![screenshot_20180210-220329](https://user-images.githubusercontent.com/25305613/36064277-a1d2461c-0eae-11e8-9785-cd8366979750.png)

[2018-02-10 16:44] aayushjoglekar commented on #491
@Anupam-dagar I would really love to work on this issue.

[2018-02-10 16:45] aayushjoglekar commented on #494
Please assign it to someone else @aswinzz I am fixing error in sorting of leaderboard scores.

[2018-02-10 16:45] #414 closed

[2018-02-10 16:46] Anupam-dagar commented on #491
@aayushjoglekar you gotta work fast
assigned

[2018-02-10 16:52] Jigar3 commented on #448
[TrackMyParcelAPI](https://github.com/Jigar3/TrackMyParcelAPI)
Read More About It [here](https://github.com/Jigar3/TrackMyParcelAPI#trackmyparcelapi)

[2018-02-10 16:58] Jigar3 commented on #489
![screenshot_2018-02-10-17-41-20-021_com instagram android](https://user-images.githubusercontent.com/32068121/36064482-9710b88c-0eb1-11e8-81d5-4dd51cd29661.png)
![screenshot_2018-02-10-17-41-01-806_com whatsapp](https://user-images.githubusercontent.com/32068121/36064487-a8d88ca2-0eb1-11e8-9c59-c878e934b8f4.png)

![screenshot_2018-02-10-17-42-00-310_com facebook katana](https://user-images.github

[2018-02-10 17:24] Anupam-dagar commented on #448
LGTM, what say @gauthamzz

[2018-02-10 17:34] Jigar3 commented on #348
![screenshot_2018-02-10-23-01-39-408_com facebook katana](https://user-images.githubusercontent.com/32068121/36064791-a093a2ca-0eb6-11e8-9562-67998dbfde7f.png)
![screenshot_2018-02-10-23-01-35-879_com facebook katana](https://user-images.githubusercontent.com/32068121/36064792-a2145df6-0eb6-11e8-8d0a-ee789e796aa4.png)
![screenshot_2018-02-10-22-59-22-021_com facebook katana](https://user-images.gi

[2018-02-10 17:34] #175 closed

[2018-02-10 17:40] rahulkumaran commented on #489
Facebook, Insta, WhatsApp, Snapchat, Twitter and LinkedIn
![s4](https://user-images.githubusercontent.com/26206171/36064828-3b3c0704-0eb7-11e8-9de3-22b2005498bb.jpg)
![s3](https://user-images.githubusercontent.com/26206171/36064829-3b955aac-0eb7-11e8-8557-4ff4fcc198e9.jpg)
![s2](https://user-images.githubusercontent.com/26206171/36064831-3be34d34-0eb7-11e8-94e3-fcbdfdfe416c.jpg)
![s1](https://user

[2018-02-10 18:10] Anupam-dagar opened #505 "correct countdown timer"
it is showing 9 hours currently, while it should be 15 minutes now

[2018-02-10 18:11] aayushjoglekar commented on #505
I can do this. Making a PR of previous issue.

[2018-02-10 18:12] Anupam-dagar commented on #505
@aayushjoglekar assigned

[2018-02-10 18:20] ananya-agrawal commented on #489
![screenshot from 2018-02-10 23-31-26](https://user-images.githubusercontent.com/33188930/36065182-2da001f8-0ebd-11e8-954d-33438c2a5c50.png)

[2018-02-10 18:25] Anjali2901 commented on #23
http://resume.github.io/?Anjali2901

[2018-02-10 18:27] #494 closed

[2018-02-10 18:28] #505 closed

[2018-02-10 20:08] gauthamzz commented on #448
It’s okay 👌

[2018-02-11 07:59] #23 closed

[2018-02-11 07:59] #31 closed

[2018-02-11 07:59] #136 closed

[2018-02-11 07:59] #181 closed

[2018-02-11 07:59] #198 closed

[2018-02-11 07:59] #245 closed

[2018-02-11 07:59] #251 closed

[2018-02-11 07:59] #271 closed

[2018-02-11 07:59] #313 closed

[2018-02-11 07:59] #348 closed

[2018-02-11 07:59] #489 closed

[2018-02-11 07:59] #448 closed

[2018-02-13 18:17] ashish4321 commented on #455
https://medium.com/@ashishagarwal2223/iiit-allahabads-opencode18-is-a-program-to-boost-open-source-contribution-and-prepare-one-for-3b470b9fa81f